<footer class="py-1 bg-gray-900">
    <div class="container">
        <div class="col-xl-10 offset-xl-2">
            <div class="row align-items-lg-center">
                <div class="col-12 col-md-3 col-lg-2 mb-3 mb-md-0">
                    <img class="svg" src="//www.redhat.com/profiles/rh/themes/redhatdotcom/img/logo.svg" width="138" alt="Red Hat logo">
                </div>

                <div class="col-12 col-md-7 col-lg-8 mb-2 mb-md-0 d-lg-flex font-size-12 text-gray-500">
                    <p class="mt-md-1 mt-lg-0 mr-3 mb-1 mb-lg-0">&copy; <span class="copyright-year"></span> Red Hat, Inc.</p>

                    <ul class="mb-md-0 d-flex flex-wrap list-unstyled">
                        <li class="mr-2 mb-1 mb-lg-0">
                            <a class="text-gray-500 text-underline" href="//www.redhat.com/en/about/privacy-policy" title="Privacy statement">Privacy statement</a>
                        </li>

                        <li class="mr-2 mb-1 mb-lg-0">
                            <a class="text-gray-500 text-underline" href="//www.redhat.com/en/about/terms-use" title="Terms of use">Terms of use</a>
                        </li>

                        <li class="mr-2 mb-1 mb-lg-0">
                            <a class="text-gray-500 text-underline" href="//www.redhat.com/en/about/all-policies-guidelines" title="All policies and guidelines">All policies and guidelines</a>
                        </li>

                        <li>
                            <a class="text-gray-500 text-underline" href="//www.redhat.com/en/about/digital-accessibility" title="Digital accessibility">Digital accessibility</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 col-md-2 text-md-right">
                    <img class="svg" src="//www.redhat.com/cms/managed-files/Logo-Red_Hat-Summit-A-Standard-RGB-02_0.svg" width="72" alt="Red Hat Summit logo">
                </div>
            </div>
        </div>
    </div>
</footer>