<header id="top" class="dms-band rh-design-nav-top py-2 bg-black">
    <div class="text-white">
        <div class="row d-flex align-items-center">
            <div class="col-6 pl-4">
                <a href="/" title="Red Hat Design logo">
                    <img class="svg" src="/assets/img/svg/logo-rh-design.svg" width="154" height="48" alt="Red Hat Design logo">
                </a>
            </div>

            <div class="col-6 rh-design-nav-toggle-wrapper d-xl-none pr-4">
                <a href="#" class="btn btn-toggle" data-toggle="nav-shelf">
                    <div class="d-inline-block">
                        <span class="menu-bar"></span>

                        <span class="menu-bar"></span>

                        <span class="menu-bar"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>

@@include('_navigation.html')

<div class="mb-6">&nbsp;</div>