<div class="dms-band rh-design-nav-shelf py-0 border-right">
    <div class="nav-container pb-4">
        <div id="rhDesignNav" class="accordion pb-0">
            <div class="nav-group-wrapper nav-button design-nav-item">
                <a href="/" class="overview py-2 pl-4 d-block">
                   Overview
                </a>
            </div>

            <div class="nav-group-wrapper nav-button design-nav-item">
                <a href="/designer-stories" class="py-2 pl-4 d-block">
                    Designer stories
                </a>
            </div>
            <div class="nav-group-wrapper nav-button design-nav-item">
                <a href="/design-principles" class="py-2 pl-4 d-block">
                   Design principles
                </a>
            </div>
            <div class="nav-group-wrapper nav-button design-nav-item">
                <a class="py-2 pl-4 d-block" href="/release-notes" title="Release notes">Release&nbsp;notes</a>
            </div>
        </div>
    </div>
</div>