<div class="dms-band rh-design-nav-shelf py-0 border-right">
    <div class="nav-container pb-4">
        <div id="rhDesignNav" class="accordion pb-0">
            <div class="nav-group-wrapper nav-button design-nav-item">
                <a href="/" class="overview py-2 pl-4 d-block">
                   Overview
                </a>
            </div>

            <div class="nav-group-wrapper">
                <button id="stories-btn" class="nav-button accordion-toggle collapsed py-2 pl-4" data-toggle="collapse" data-target="#stories">
                    <p>Designer stories</p>
                </button>

                <div id="stories" class="accordion-panel collapse pr-0" data-parent="#rhDesignNav">
                    <ul class="mb-0 pl-2 pb-0 list-unstyled">
                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories" title="All stories">All stories&nbsp;</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/aaron-williamson.html" title="Aaron Williamson">Aaron Williamson</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/abigael-donahue.html" title="Abigael Donahue">Abigael Donahue</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/allona-wilkerson.html" title="Allona Wilkerson">Allona Wilkerson</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/ann-nguyen.html" title="Ann Nguyen">Ann Nguyen&nbsp;</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/chae-bin-park.html" title="Chae Bin Park">Chae Bin Park</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/jason-brock.html" title="Jason Brock">Jason Brock</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/jeremy-perry.html" title="Jeremy Perry">Jeremy Perry</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/jessica-cox.html" title="Jessica Cox">Jessica Cox</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/kevin-hatchoua.html" title="Kevin Hatchoua">Kevin Hatchoua</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/krystal-moore.html" title="Krystal Moore">Krystal Moore</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/libby-levi.html" title="Libby Levi">Libby Levi</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/liz-wood.html" title="Liz Wood">Liz Wood</a>
                        </li>

                        <li class="story design-nav-item">
                            <a class="py-1 pl-2 d-block" href="/designer-stories/rob-chapell.html" title="Rob Chapell">Rob Chapell</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-group-wrapper nav-button design-nav-item">
                <a href="/design-principles" class="py-2 pl-4 d-block">
                   Design principles
                </a>
            </div>
            <div class="nav-group-wrapper nav-button design-nav-item">
                <a class="py-2 pl-4 d-block" href="/release-notes" title="Release notes">Release&nbsp;notes</a>
            </div>
        </div>
    </div>
</div>