<div class="dms-band rh-design-nav-shelf py-0 border-right">
    <div class="nav-container pb-4">
        <div id="rhDesignNav" class="accordion">
            <div class="nav-group-wrapper nav-button design-nav-item pl-3 py-2">
                <a href="/">
                    <p class="mb-0">Design at Red Hat</p>
                </a>
            </div>

            <div class="nav-group-wrapper">
                <button href="#" class="accordion-toggle collapsed nav-button py-2" data-toggle="collapse" data-target="#stories">
                    <p>Designer stories</p>
                </button>
                <div id="stories" class="accordion-panel collapse pr-0" data-parent="#rhDesignNav">
                    <ol class="mb-0 pl-2 pb-2">
                        <li class="mb-2 p-1 story design-nav-item">
                            <a href="/designer-stories" title="All stories">All stories</a>
                        </li>

                        <li class="mb-2 p-1 story design-nav-item active">
                            <a href="/designer-stories/allona-wilkerson.html" title="Allona Wilkerson">Allona Wilkerson</a>
                        </li>

                        <li class="mb-2 p-1 story design-nav-item">
                            <a href="#" title="Ann Nguyen">Ann Nguyen</a>
                        </li>

                        <li class="mb-2 p-1 story design-nav-item">
                            <a href="#" title="Chae Bin Park">Chae Bin Park</a>
                        </li>

                        <li class="mb-2 p-1 story design-nav-item">
                            <a href="#" title="Kevin Hatchoua">Kevin Hatchoua</a>
                        </li>

                        <li class="mb-2 p-1 story design-nav-item">
                            <a href="#" title="Krystal Moore">Krystal Moore</a>
                        </li>

                        <li class="mb-2 p-1 story design-nav-item">
                            <a href="#" title="Liz Wood">Liz Wood</a>
                        </li>

                        <li class="mb-2 p-1 story design-nav-item">
                            <a href="#" title="Michael Celedonia">Michael Celedonia</a>
                        </li>

                        <li class="story design-nav-item p-1">
                            <a href="#" title="Fadzly Sayarasi">Fadzly Sayarasi</a>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="nav-group-wrapper nav-button design-nav-item pl-3 py-2">
                <a href="/release-notes" title="Release notes">
                    <p class="mb-0">Release notes</p>
                </a>
            </div>
        </div>
    </div>
</div>