<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you lead?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I am an Associate Manager. I support researchers who are currently focused on the developer experience and on managed services, as well as the Research and Design Operations crew.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Caffeine and either a good jog or sitting on my back patio to stare at the trees. Lately there’s a bunny that munches grass and watches me as I munch my breakfast.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I focus on research and operations, which play supportive and collaborative roles in design. At Red&nbsp;Hat, it’s unique that we truly embrace the notion of meritocracy; I’ve had Summer interns be encouraged to contribute ideas by very senior contributors. We also do a great job (better than I’ve seen at other companies) of balancing taking appropriate risks while holding ourselves accountable, so we are free to be experimental and creative, while also getting work done.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I strive to do this at every opportunity. The DPO has been a great venue for this, because as we identify things that work or things we’ve tried that didn’t work so well. We share it with other teams here at Red Hat. Specifically in research, it needs to be a closed loop. People will stop giving feedback if they don’t see any results from it, so we try to share early and often with participants what we learned from studies and what we did with the information. We’ve found that one of the most powerful motivators to contributing to research is to believe that your opinion can lead to change.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Our work really doesn’t take shape unless we are collaborating with other teams, so it’s fundamental to the research process. We lead by example by offering radical transparency into what we are working on now, and what’s on our roadmap and why. We invite other designers, product managers, and engineers to see and remark on what we’re doing. That helps us align our priorities with the bigger picture. This encourages collaboration and regular consultation across teams.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>This is absolutely essential to the design process. We don’t know what our blind spots are, and it’s impossible to know what we don’t know. By inviting people to freely express ideas and challenge the way things are done, we identify opportunities to make our solutions work for the full spectrum of human needs and expectations. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Our work in research gets to the core of what kind of help people need. We can help prioritize what problems to solve, and then evaluate potential solutions to make sure they actually do solve the problem for real people in a variety of circumstances, environments, and use cases.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I always picture a studio with glass walls. I visited the Delft Blue Museum in Holland and thought “THIS is open design”. Yes, they have their beautiful pieces on display, with information about each one, but they also allow you to walk around the production area and see how the items are formed. It gives you insight into the work and process involved in the final outcome, which deepens appreciation for what ultimately looks elegant in its simplicity. Open design also includes the rationale: this is how we arrived at these decisions and why we went this direction.</p>
                    </div>
                </div>
                
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>It’s exciting to be part of a cross-team collaboration focused on surfacing best practices and supporting each other. This is a great example of the Open ethos and feels so “Red&nbsp;Hat-y”. If you’re wondering whether you could or should contribute, I encourage you to just dive in and see where you can make a difference. You will be most welcome!</p>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>