<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m a senior visual and interaction designer on the UXD team. I currently lead our team of visual designers who provide support across our product portfolio, and also contribute to our open source design system PatternFly.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Energy is key to my inspiration and productivity, so that means starting my morning with a cup of coffee or green tea.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/michael-celedonia/img-patternfly-dark-theme-design.png" alt="PatternFly dark theme">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><span class="font-weight-bold">PatternFly dark theme</span><br>A testing screen showcasing work converting PatternFly to dark theme.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We work with a lot of technical complexity regarding product use cases and general branding, so a big part of designing here is unraveling complex ideas into understandable and digestible content and experiences. We’re applying open source principles to the design process, which is something very new and non-traditional to the design industry.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>One of my favorite parts of Red&nbsp;Hat’s open source culture to practice within my own role is the encouragement of meritocracy. Everyone is encouraged to contribute or express their thoughts and ideas, and those thoughts are all heard and considered regardless of seniority. I try to implement this as much as I can within my own projects.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Michael Celedonia</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Designing in the open requires taking accountability for your own design decisions while being flexible enough to recognize and pivot to stronger ideas.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Working closely with our design system PatternFly means pushing for consistency and alignment across our products. We’re always encouraging product teams to check in with other teams who may have already solved their problem or pointing teams towards solutions which have already been implemented. Collaboration is key to ensuring an efficient and consistent experience within and across products.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Diverse voices strengthen the creative process simply by providing ideas from a perspective that otherwise wouldn’t have been heard. I think our life experiences culminate in the way we approach problem solving, and having a diverse array of perspectives will only further strengthen our processes and solutions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/michael-celedonia/img-topology-design.png" alt="PatternFly topology">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><span class="font-weight-bold">PatternFly topology</span><br> A mockup showcasing design solutions for the PatternFly Topology component.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>With PatternFly accessibility is never an afterthought. When I’m working on new components or solutions, accessibility is something I try to keep at the forefront of my creative process. By handling many accessibility considerations at the PatternFly component level, we can ensure product teams get a head start on implementing accessible solutions. We’re lucky to have an awesome in-house accessibility expert on the UXD team, Jessie Huff, who is a huge help with ensuring we are designing and implementing accessible solutions across our portfolio.</p>
                        
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>To me open design means open process and open mind. Designing in the open requires taking accountability for your own design decisions while being flexible enough to recognize and pivot to stronger ideas. I believe this leads to a more thorough design process and more thoughtful solutions.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Designing at Red&nbsp;Hat means designing in the open which is a unique and compelling aspect of being a creative professional here. Our design teams are paving the way forward by applying an open source model to the design process, and I am very excited to be a part of that.</p>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</section>