<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I am a product designer for UXD (User Experience Design) and I am currently the lead designer for Red&nbsp;Hat’s knowledge base working on bridging Red Hat’s resources across the customer portal, PCM, and partner space.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Maintaining a consistent morning routine helps me stay productive and energized throughout the day. Even though I work fully remotely at Red Hat, I approach each day as if I’m heading into an office. My mornings start with a 10-step Korean skincare routine to refresh and wake up, followed by crafting the perfect cup of matcha. After that, I hit the gym before heading to 'the office'—conveniently located right in my home.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/ann-nguyen/img-404-border-design.png" alt="404 page">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>404 page</strong><br>
                        This 404 page is intended for Customer Portal use, we wanted to make the 404 page fun and witty while also making it easy to navigate away from.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’ve been with Red&nbsp;Hat for three years, and during this time, I’ve gained a deep understanding of our diverse web ecosystem. Red&nbsp;Hat has many websites, each with its own design system, yet all are unified by a cohesive visual identity. I am involved with collaborating across various design teams to bridge gaps and ensure consistency across all Red Hat websites, keeping our brand experience seamless and aligned.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Since joining Red&nbsp;Hat, I’ve had the opportunity to collaborate with many different teams as I’ve moved across various projects. I began with the documentation experience, transitioned to product pages, then the knowledge base, and now I’m focused on PCM and Partnership. Throughout these transitions, maintaining transparency in my design process and decisions has been crucial. Each product is interconnected, so ensuring consistency and harmony across them is a top priority. Every piece of feedback and decision I make has a ripple effect, influencing other workspaces. This requires me to stay open to possibilities and mindful of how changes impact the ecosystem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Ann Nguyen</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">It is important to understand how your design will work in a user/design perspective and resource/engineering perspective.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Everyone at Red&nbsp;Hat is incredibly busy, but they’re always willing to make time for design sessions or to answer design-related questions. Reaching out for help or collaboration is easy because of the supportive culture here. Since moving across teams, I no longer have the same consistent meetings I had when I first started. I take initiative by scheduling meetings or starting Slack conversations to create opportunities for open feedback.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’ve noticed that my perspective on design challenges often resonates with concerns shared by other designers. By voicing these observations, I help solidify their decisions and strengthen our collective efforts to improve. I typically offer a 'fresh eyes' analysis of existing problems, which in turn helps other designers make more informed decisions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/ann-nguyen/img-rhel-design.png" alt="RHEL design">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Library page</strong><br> 
                        <span class="font-italic">The Documentation Library</span> is intended to be a documentation directory for customers to browse through. Ideally, this will help customers find what they need when they are unsure of where to start. Customers look for documentation with intention and the library page will give more guided navigation to their end results.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My focus across all my projects and teams is support: How can I improve the experience so that customers and Red Hat partners can find what they need efficiently and successfully, allowing them to return to their work with ease? This is the core of my designs, and I strive to weave it consistently throughout the Customer Portal.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>To me, open design means embracing exploration and collaboration—welcoming ideas from others and building on previous work. It’s about iterating on existing designs while advocating for new components when necessary to solve emerging challenges. We should thoroughly explore what already exists but remain open to creating something new when the data supports it.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>At the heart of my work is the drive to create designs that are thoughtful, efficient, and impactful. Whether it’s collaborating across teams, iterating on existing solutions, or exploring new possibilities, I focus on maintaining harmony across projects and ensuring users can achieve their goals effortlessly. Starting my design career at Red Hat has been an incredible experience—I’ve grown and learned so much in my three years here, and I’m excited to see what the future holds.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>