<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I manage the Design side of Digital Experience Design Engineering. Our team is responsible for improving and creating digital experiences for customers seeking answer and support and for those associates who interact with our customers.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>A double-shot of espresso from a moka pot with 4 oz of oat milk.</p>

                        <p>I wish I could say that I wake up every morning abound with inspiration, but I don’t - and I don’t think that most people do. I chose to become a designer because I like making things, but it turns out I also like fixing them. As creatives we have a chance to repair things that are broken and to make new things to replace the irreparable. I find inspiration when I see something that could be improved.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Design teams at Red&nbsp;Hat have more shared accountability for the business outcomes than designers in other companies, and certainly more than those in the Agency world. The communication and organizational structures that we’ve chosen in CEE encourage an inclusive approach to decision making — PMs, Engineers, DevOps, and QA participate in our design processes and decisions. With so many brilliant contributors sharing their expertise, we’ve adopted a servant leadership approach to team management. It allows me to focus my energy on the part of the job that I really love: cultivating a culture of sustainable growth and psychological safety.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Our collective group of PMs, Engineers, and Designers follows a workstream model that invites any contributors and stakeholders to weigh in at various appropriate stops along a project’s journey. Everything goes through a system of checks and balances to ensure that multiple eyes see our work, multiple voices are heard in every phase of design, and multiple approvals are required before any big changes are made.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Jason Brock</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">It’s normal for designers to shoot for the moon and for engineers to want to deliver things quickly and efficiently. The natural tension between those perspectives is what drives innovation.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The relationship between our Design Engineering team and our Product and Portfolio team is critical for successful collaboration across all of our disciplines. In our space, Design is just one section of a large orchestra and we get to work with some of the best conductors in the business.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>When you bring people together from various disciplines, backgrounds, and departments to weigh in on a business problem, there needs to be plenty of space for courteous dissent. It’s normal for designers to shoot for the moon and for engineers to want to deliver things quickly and efficiently. The natural tension between those perspectives is what drives innovation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Our team is working very closely with all members of the DPO and both Design System teams (RHDDS and PatternFly) to build better alignment for the future. Both teams are dedicated to rigorous accessibility standards and their UI components are designed with accessibility in mind. The Customer Portal is in a fairly unique spot where we have to consume the output of both systems, so it’s important to our success that these systems approach accessibility and design in similar ways.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open means a willingness to listen. At the end of the day, our design teams have a responsibility to do the best design work that we can, but sometimes other solutions are more elegant, or more simple, or even just more affordable. We have to be open to the ideas of non-designers so that we never let perfect become the enemy of good.</p>
                    </div>
                </div>
                
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>