<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My role specializes in brand and campaign work within Red&nbsp;Hat’s digital ecosystem. I often collaborate with other designers, developers, and writers to develop branded visual systems and premium interactive experiences that aim to enhance Red Hat's brand salience.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I would say inspiration comes more easily to me at night actually! But in the mornings if I'm trying to get started fresh on a project I usually put on some music, grab some caffeine, and look around at design inspiration sites to help get the ideas flowing. Once I've got a general idea of what I want to do, I'll sketch a bunch and usually one idea (even the terrible ones) leads to a good one!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/rachel-short/img-code-comments.png" alt="Code Comments Podcast">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Code Comments Podcast</strong><br>Code Comments is an original podcast by Red&nbsp;Hat. These are designs of the code comments homepage featuring the host, episode list, and more ways to listen.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The way that collaboration works at Red Hat is pretty unique. I'm sure that collaboration is an aspect of design for many companies, but at Red Hat we aren't just collaborating with other designers. If you have an idea for something that is outside of your field of expertise, that is truly welcomed at Red Hat. I appreciate feeling like my ideas are valued regardless of the room I'm in. That collective attitude toward open collaboration leads to some pretty awesome brainstorm sessions from all different roles.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Some of our design principles come more naturally to me than others. Things like “starting intentionally” and “prioritizing both form and function” are things I learned in design school and feel almost innate at this point. I always aim for every design decision I make to have <i>intention</i> and provide value but to also fit aesthetically into the brand I'm working with.</p>
                        <p>Other principles like “collaborating” and “sharing early and often” are things that require active effort but that Red Hat has a lot of structures in place to enable. We have lots of opportunities to both share our work and also to help build relationships. I try to put a focus on building relationships and because of that I'm a lot more comfortable sharing early work. This also helps me with some of the principles I'm not as naturally attuned to, like relying on research. I know it's not a strength of mine so I will often collaborate with someone who is more specifically focused on research and has more knowledge in that area. This way my work still sees those benefits and I get to learn from those experts as well.  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Rachel Short</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">If you have an idea for something that is outside of your field of expertise, that is truly welcomed at Red&nbsp;Hat. I appreciate feeling like my ideas are valued regardless of the room I'm in.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Building relationships is huge for this! It's important to build strong working relationships with people across lots of teams so that there is no division in who you are comfortable collaborating with. This way, I can pull a group of people together from every discipline and have a session where everyone is comfortable contributing.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Design is not always a linear process and it's definitely subjective. There is no single right answer a lot of the time, which allows for a multitude of perspectives on the same piece of work. By diversifying the voices contributing, we get to consider more of those possible perspectives and that ultimately leads to more considered work.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/rachel-short/img-ai-solutions.png" alt="AI solution pages">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>AI solutions section pages</strong><br>The AI solutions page introduces our audience to Red&nbsp;Hat’s approach to AI. The page highlights associated products, customer stories, cloud partners, and ways to learn more about AI at Red&nbsp;Hat. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I always keep the end user in mind when I'm designing. At each stage in the design process I'm considering what would be the best experience for my audience. Whether that is creating something utilitarian that is optimized with the least number of clicks, or making something thought provoking as visually interesting as possible, the purpose is always to serve that end user. That includes making those experiences accessible for everyone.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>To me open design describes the process more than the outcome. It’s humbly acknowledging that the best work won’t come from a silo, which leaves you looking for all the feedback you can get, and giving thoughtful feedback as well. Open design is a way of working as a community with a shared goal of creating better work.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>