<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m the creative director for the brand enablement team. We’re a team of designers and brand managers focused on developing and maintaining our brand standards and all the resources designers and Red Hatters use to create on-brand experiences. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Coffee, a walk with my dog, and upbeat music in my headphones. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <!-- <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>From day one, as an intern, I was encouraged to share my own ideas and approaches to design. This included everything from the strategy behind a project to the execution, and I remember that being intimidating starting out. But one of the aspects of becoming a graphic designer that I hold closely is the experience of the studio space.</p>
                        <p>I didn’t want to lose this idea of being open, the sharing of ideas, the crits, the collaboration with my peers from my time in undergrad. And I can say that I haven’t lost any of this designing at Red Hat. I’ve built more so on it because of Red Hat’s belief in being open.</p>
                    </div>
                </div> -->
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’ve always loved the open source principles of “share early, share often.” I like creating opportunities for my team to share in-progress work with each other, so they can talk through ideas and challenges before anything is too solidified to change.</p>

                        <p>There’s also an open source ethos at the heart of how we think about building our brand—branding can be a very top-down discipline, but we focus less on being approvers and “brand police” and more on giving Red Hatters the tools to solve problems in an on-brand away, on their own. This extends beyond just Red Hatters, too — we share our brand standards publicly, so our agencies and partners have the same info and insight our teams have.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Libby Levi</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">So many of the things I and my team work on will be used by other teams, so it’s important to make sure we understand the problems they face and how our work can help them use our brand to create better design</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>So many of the things I and my team work on will be used by other teams, so it’s important to make sure we understand the problems they face and how our work can help them use our brand to create better design, and for them to feel involved  in the process so that they’re invested in the tools we create and understand how to use them. This can take a lot of forms, depending on the project — from a survey or a workshop to gather info, to a cross-functional team that works on the project end-to-end.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Design is about people—we design for people, of course, but we as designers are also people, with specific sets of experiences (and blind spots). There’s no way to know what you don’t know or what you’re missing until you share your ideas with people who are different from you, and really listen to what they have to say. They might not always have the answers, but they almost always have new and different questions. Working through those questions is how you make your design better (and more inclusive!).</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I like to tell my team that our goal when we’re writing guidelines or creating systems is to make the easy thing and the right thing the same thing. By “right thing,” I usually mean “on-brand thing,” but that approach has the potential to infuse better accessibility into our experience, too. Because so many different teams use the systems and tools we create, if we make changes that improve the accessibility of what we make, those changes get inherited down the line to all our experiences.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design means letting people see the “sausage” get made, but not just that—you also have to hand the sausage over so they can  make sauce or biscuits or whatever, and let them know the tools and recipe are there, too, if they need them.</p>

                        <p>The traditional idea of design it’s something mysterious owned by the designer, and the mystery is what makes the designer valuable. Open design takes that idea apart, and I think it actually broadens the scope of what the designer does. Instead of designing individual things, you’re designing systems that (hopefully) balance structure and flexibility well enough that they can respond to whatever gets thrown at them. </p>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>