<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I am a senior manager in the UXD team within Red Hat Global Engineering. My team includes designers who are creating the UX for our application services, data services, automation platform products, and partner program experience.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My morning ritual starts with a wake-up shower, which gives me time to unpack those foggy “just woke up” thoughts and ideas. Every now and then these thoughts turn into a new solution to some problem I have been mulling over. If I’m still excited about it by the time I’m out of the shower, I know it’s something to try.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Red&nbsp;Hat has a culture that invites individuals to act on their potential, with leaders supporting their success. Unlike a top-down culture where decisions are passed down the chain of command, individuals and teams have agency to determine how they get to a goal. I appreciate most that we always start with agreement on “why” so that we are all acting with a shared purpose.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Design is all about solving problems and I think open source at its core is an act of design. Open source principles guide practitioners to share and improve. This is second nature to designers and design thinkers, but in open source sharing is a constant. I tell my team if they are a little uncomfortable with sharing something it’s a good indication that it is the perfect time to do so. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Jeremy Perry</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Design is all about solving problems and I think open source at its core is an act of design. Open source principles guide practitioners to share and improve.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>At our scale and with the complexity we are designing for, it’s necessary to take a matrixed approach and plan for intersections with other teams and functions. We have specialists in a particular discipline, or a type of user, or a moment in a journey, or a particular product area — just within our team. As a manager, I help the team anticipate these intersections and when needed, make matches within and across groups. So collaboration is really most of what the teams are doing all the time. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Design (and open source) thrives on a virtuous cycle of sharing, input, and improvement. When you make it a priority to open the door to more diverse inputs, you are making your output stronger.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Almost everything we create is a response or answer to a problem we believe some user has. The more we understand our users, the more clearly we can see them as people. Enabling people of all abilities is not only just, it makes good business sense too. Accessibility is baked into our process as a functional requirement. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design is just design to me. Design can be practiced behind closed doors to create the opportunity for a dramatic big reveal, which you need sometimes to be competitive. Open design enables shorter and more informed feedback loops. Designing in the open means you can improve faster, which is another way to compete.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’ve been at Red&nbsp;Hat for over 10 years, which is kind of a long time. And yet, the time has flown by because there is always another emerging opportunity. What keeps me here is the feeling that each day there is a way I can show up and make an impact.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>