<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I am a senior user experience designer with UXD and my work spans across our hybrid cloud ecosystem. Primarily, I work on the OpenShift and Console/platform teams. However, by the nature of my work around the discover, try and buy experience of the user journey; I get involved with various other teams and workstreams.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>There are almost too many things that inspire me wether work-related or things in my personal life. But if I had to pin point, I think its the excitement I get to pick up where I left off. As a UX designer, my ultimate goal is solve problems.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/allona-wilkerson/img-global-tech-outlook-design.png" alt="Kube By Example">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Kube By Example</strong><br>
                        <span class="font-italic">Kube By Example</span>, otherwise known as KBE, delivers what we believe to be the broadest and most informative Kubernetes tutorials, news, and community interaction available; the site is designed so that you can learn by example. Each lesson emphasizes an absorb by doing approach enriching your Kubernetes operator or developer understanding by allowing you to practice skills as they are explored and explained.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We are open! Whether it’s our code or our designs, Red&nbsp;Hat truly embodies what it means to be transparent and user-centric. It’s inspiring to work for a software company that is experience-driven at the core.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Our designs are influenced by both the upstream and downstream community. From our design system, to our processes, frameworks and code repos, everything is open and accessible to the public. We keep a tight feedback loop which includes, regularly connecting and hearing from customers and stakeholders to inform, validate and shape the products they use.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Kevin Hatchoua</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">It’s a core belief of mine that bringing together a diverse group of people and perspective leads to faster and better innovation. It empowers us to deliver inclusive and accessible solutions for all our users.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The important thing to do first is to level set and establish common goals across teams. One of the ways we approach this at Red&nbsp;Hat is through yearly OKRs. These are measurable goals that are defined and set collaboratively across teams and individuals. They create alignment and enable us to track and prioritize workstreams cross-functionally; this makes it easier to collaborate where we can and stand apart where we should.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Diversity and inclusion is very much engrained in how we work across our organization, regardless of team or project. It’s a core belief of mine that bringing together a diverse group of people and perspective leads to faster and better innovation. It empowers us to deliver inclusive and accessible solutions for all our users.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/kevin-hatchoua/img-console-redhat-design.png" alt="console.redhat.com">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>console.redhat.com</strong><br>Improving the Getting started and onboarding experience for all users who use Console. Working with other designers to redefine the console platform navigation, information architecture, and the logical grouping of content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Users are at the core of the design process. When designing I think it’s important to look at the end-to-end user journey from discovery, to learning, to adopting and understanding how the pieces come together. Regardless of which phase the user is at, our designs incorporate learning tools of various modality and fully accessible content. This helps ensure a seamless and consistent experience across products.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Co-creation and transparency. Where the stakeholders, project teams and users all contribute to the design and development process.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>