<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you lead?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I am a senior manager on the User Experience Design (UXD) team within Red&nbsp;Hat Global Engineering. I’m responsible for several teams including UX Research, UX Operations, Content Design, and PatternFly Design. These teams all contribute to designing and building great experiences for our Red Hat product portfolio. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The morning routine always involves coffee first, followed by getting myself and my two girls ready for the day. As a working mom, inspiration may or may not happen in the morning and can come in various ways.  Sometimes, it’s listening and learning from others in the form of a conference, a podcast, or even casual conversation. Other times, it is in those quiet moments when I get a chance to think and let my mind wander. I suppose those two things go hand in hand — the time to learn and then the time to think helps me to get inspired and helps me formulate ideas.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Red&nbsp;Hat places a lot of emphasis on their values, which includes transparency and collaboration. An associate’s performance is not only evaluated on WHAT they deliver, but also HOW they deliver it. This focus on the how is what sets Red&nbsp;Hat apart and are key ingredients to successful design and research processes. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open source principals and successful UX processes are very complementary to each other. They both require transparency and collaboration, and acknowledge the value of contributions from diverse perspectives. For UX research, transparency can mean being clear about the confidence in a particular insight or finding and/or appropriately citing data sources that contribute to a body of evidence. Collaboration is also key in conducting UX research at Red Hat. Getting input and feedback from key stakeholders with diverse perspectives (e.g., the business, engineering, and design) are necessary for delivering relevant research that makes an impact.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Leslie Hinson</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">I think prioritizing collaboration means being intentional about the way that we work together. It’s not just about who should be involved, but also what are the best UX methods for the outcome that you want to achieve?</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>As a centralized team at Red&nbsp;Hat that supports the broader product portfolio, we have a natural inclination to look across efforts and silos. We’ve been known to act as the connectors and push on consistency as well as the user’s experience. That said, I think prioritizing collaboration means being intentional about the way that we work together. It’s not just about who should be involved, but also what are the best UX methods for the outcome that you want to achieve? There have been efforts from our team and in collaboration with other teams to help promote this by offering information and resources at scale for design and research. This has included things like <a href="https://www.uxd-hub.com/" title="Welcome to uxd-hub.com">the UXD Hub</a>, the Design Program Office, and most recently, the Research Practice Office. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Diverse perspectives help us to think through a problem from all angles. Collectively, we can more easily identify our blind spots so that we can be more thorough and thoughtful about the solutions that we deliver. Diverse perspectives also help us to be innovative. Some of my favorite collaborations are teaming up with people that offer something different from me. It’s a really great feeling when you can combine super powers for the benefit of the user and/or an organization. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>This question immediately makes me think about the time and effort that the team has spent on making our open source design system, PatternFly, accessible. PatternFly is widely adopted at Red Hat for building our front-end user interfaces. The team builds, delivers, and tests accessible components and provides guidance to both designer and developers about designing and building accessible experiences.  Shout out to the small but  mighty <a href="https://www.patternfly.org/accessibility/about-accessibility/" title="PatternFly • About accessibility">PatternFly</a> team for their contributions — not only to Red&nbsp;Hat, but to open source design AND accessibility. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>To me, open design means considering how open source methodology and best practices apply to research and design. There is already a lot of synergy between these two things with themes like being iterative, transparent, and collaborative. However, there are things beyond these broader themes that can be interesting to continue to push on. For example, our team is currently looking at how research and design stories can be better integrated and visible in the development process. As you scratch beyond the surface, I think there are a lot of interesting ways in which we can continue to push on research and design in the open. </p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>