<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I understand user needs, create user-friendly designs, and collaborate with teams to develop and improve products. Create prototypes, ensure accessibility, and focus on design quality to provide a positive user experience while staying updated with design trends.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>A cup of masala tea and setting a goal for the day makes me motivate to start my day with enthusiasm.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/sumit-ingole/img-customer-support.png" alt="Red Hat Customer Portal">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Customer support</strong><br>A customer support interaction for customer portal where users can get help troubleshooting.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>At Red&nbsp;Hat, design arises from a creative and innovative blend of original concepts, a deep understanding of context and audience, a harmonious balance between form and function, meticulous attention to detail, an iterative refinement process, storytelling elements, cultural sensitivity, and considerations for sustainability and ethics.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My design process is centered around transparency, collaboration, and accessibility, open for scrutiny, fostering a collaborative community where everyone can contribute improvements and innovations.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Sumit Ingole</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Design is a dynamic and ever-evolving field that thrives on creativity, collaboration, and adaptability. Whether you’re a seasoned professional or just starting your journey, the key is to embrace a mindset of continuous learning and exploration.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>As a senior product designer, prioritizing collaboration involves organizing cross-functional workshops, including stakeholders early in the process, establishing shared design systems, utilizing collaborative tools, and fostering a culture of inclusivity and continuous feedback. Regular check-ins, educational initiatives, and celebrating successes collaboratively contributes to a cohesive and successful design process that integrates diverse perspectives from various teams.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Diverse voices and perspectives strengthen the design process by fostering creativity, inclusivity, and cultural sensitivity. A diverse team brings a broader range of ideas, skills, and empathy, resulting in more innovative, user-centric, and globally-relevant design solutions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/sumit-ingole/img-experience-platform.png" alt="Experience platform">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Experience platform</strong><br>The user interface for Red&nbsp;Hat Experience Platform, where users can develop, deploy and manage their apps.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My work centers on creating helpful and accessible experiences by incorporating inclusive design principles, adhering to accessibility standards, conducting user research, and testing with diverse user groups. I prioritize clear communication, responsive design, and consistent UI patterns while collaborating closely with development teams and stakeholders on the importance of accessibility. Through these efforts, I aim to ensure that the products I design meet the needs of a broad user audience and provide a positive user experience for all.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design encourages sharing ideas, feedback, and progress openly, fostering a culture of inclusivity, continuous improvement, and community involvement. This approach prioritizes accessible design assets, documentation, and decision-making processes, allowing stakeholders, team members, and sometimes end-users, to contribute and provide valuable insights.</p>
                    </div>
                </div>

                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Design is a dynamic and ever-evolving field that thrives on creativity, collaboration, and adaptability. Whether you’re a seasoned professional or just starting your journey, the key is to embrace a mindset of continuous learning and exploration. Stay curious, be open to diverse perspectives, and remain attuned to the evolving needs of users and the broader community.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>