<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My focus is on shaping the overall product user experience. From crafting intuitive product trials to diving deep into analytics, I ensure our designs solve real problems and drive impactful outcomes.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Inspiration comes from both personal and work-related sources, but above all, I’m driven by the excitement of continuing to solve complex problems. That’s the essence of UX design for me.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/kevin-hatchoua/img-kube-design.png" alt="Kube By Example">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Kube By Example</strong><br>
                        <span class="font-italic">Kube By Example</span>, otherwise known as KBE, delivers what we believe to be the broadest and most informative Kubernetes tutorials, news, and community interaction available; the site is designed so that you can learn by example. Each lesson emphasizes an absorb by doing approach enriching your Kubernetes operator or developer understanding by allowing you to practice skills as they are explored and explained.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We are open. At Red Hat, transparency and user-centricity are at the core of both our code and designs. It’s inspiring to work in an environment where open collaboration, inclusiveness shape how we work.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Our design process is rooted in open-source principles. From our design systems to frameworks, everything is publicly accessible. We maintain a constant feedback loop with both customers and stakeholders, ensuring we create, validate, and shape solutions that matter.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Kevin Hatchoua</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">It’s a core belief of mine that bringing together a diverse group of people and perspective leads to faster and better innovation. It empowers us to deliver inclusive and accessible solutions for all our users.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We begin by aligning on shared goals and outcomes. At Red Hat, yearly OKRs help define measurable objectives across teams, creating alignment and enabling cross-functional collaboration where it’s needed.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Diversity fuels innovation. By bringing together varied perspectives, we create more inclusive and accessible solutions. It’s a core belief at Red Hat and one that’s deeply ingrained in how we work.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/kevin-hatchoua/img-console-redhat-design.png" alt="console.redhat.com">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>console.redhat.com</strong><br>Improving the Getting started and onboarding experience for all users who use Console. Working with other designers to redefine the console platform navigation, information architecture, and the logical grouping of content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Users are central to our process. We design with the entire user journey in mind from discovery to adoption; incorporating accessible content and tools at every stage, ensuring seamless experiences across products.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>It’s about co-creation and transparency. Stakeholders, project teams, and users all contribute to the design and development process.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>