<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you lead?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Manage a team in Digital UX Design that focuses on research, execution, delivery and quality of Red&nbsp;Hat digital experiences.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Working in a coffee shop, headphones off listening to people talking and the coffee shop music, reading the latest tech news or a blog post; or having coffee in my hot tub.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Being a Red&nbsp;Hatter allows me to be my authentic self. I’m leveraging my background in design and carving a career path for myself and my team, which is unique to Red Hat. I am encouraged to create a vision, take risks, and explore new ways of operating and using new technology, while collaborating on all this with my team, not dictating it.</p>
                    </div>
                </div>
                <!-- <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>tbd</p>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Kristen Borgna</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Being a Red Hatter allows me to be my authentic self. I’m leveraging my background in design and carving a career path for myself and my team, which is unique to Red Hat. I am encouraged to create a vision, take risks, and explore new ways of operating and using new technology, while collaborating on all this with my team, not dictating it.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We bake collaboration into our process. No one person is solely on discovery but we explore and enter into the work together. Each milestone requires steps that allows collaboration and feedback from UX Producers, UX Designers and UX Engineers. It’s taken practice and many years, but now it comes naturally to bring in different disciplines and groups. We are creating a demo culture where sharing things that are still in progress and not yet polished to large groups are celebrated.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Bringing together different disciplines with various backgrounds and experience enhances the output. Gathering multiple perspectives and insights contributes to making informed decisions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My team focuses on the quality of the user experience and interactivity. We are detailed and specific on ensuring experiences are intuitive and accessible by all users. This includes ensuring there are checks in place before, during and after publishing. We are grateful to have an accessibility subject matter expert on our team. With their help, we've collaborated on checklists to standardize on accessibility best practices to create more accessible experiences for our users.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Collaboration and gaining insight and opinion from other disciplines, not just within design or even just at Red&nbsp;Hat. Releasing often and iterating, learning from mistakes and from others to enhance the experience.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>