<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I lead the design for the Red Hat Product Trials Program and Service. My expertise lies in user experience design for redhat.com pages, particularly the My Red&nbsp;Hat Dashboard. I work closely with designers and writers to create compelling content that directly addresses user needs.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Every morning starts with a ritual of strong coffee, a freshly sharpened pencil, and a blank piece of printer paper. The daily challenge to build something from nothing keeps me inspired! </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/russ-blackburn/img-my-red-hat.png" alt="My Red Hat">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>My Red&nbsp;Hat</strong><br>My Red&nbsp;Hat is a digital success center for all users—prospects, customers, partners—in their journey with Red&nbsp;Hat. The value to the end user is to reduce frustration and the time it takes to find content and complete common tasks, as well as provide personalized information to help them in their Red&nbsp;Hat journey.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Across all organizations, there exists a unifying recognition for user experience as a trusted design resource for Red&nbsp;Hat's product portfolio. Being viewed as a valued design leader makes designing at Red&nbsp;Hat truly unique and rewarding.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open-source principles such as transparency and collaboration are two vital strategies I include in my design process. Allowing open communication/feedback between the customer needs and the business needs leads to a successful design iteration.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Russ Blackburn</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Open design, in my opinion, is the freedom to work without barriers. The freedom to seek out the best possible design solution. </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Inclusion early and often is my go-to principle for prioritizing collaboration. Consistent engagement opens the window for receiving constructive feedback.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Diversity brings together voices of many flavors. With it comes shared experiences. Listening to these voices allows me to present a design process that speaks to an entire community.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/russ-blackburn/img-product-trial-center.png" alt="Product trial center">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Product trial center</strong><br>My trials is an authenticated experience on redhat.com for product trial users. Think of My Trials as a one-stop-shop for everything product trials – with curated trial subscriptions and related information in a streamlined and personalized experience for users to access and manage their active or expired product trials.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I challenge myself to deliver design experiences that anyone can use with ease. Taking the complexity out of advanced technology does not dilute its cutting-edge importance. Rather, it opens up the learning curve for all to become proficient with highly technical business solutions. The key to success is providing the right amount of resources to help the diverse skillset of users achieve their desired outcomes with our products.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design, in my opinion, is the freedom to work without barriers. The freedom to seek out the best possible design solution. The freedom to ask for and receive feedback from all willing to participate.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>It's important to mention the significance of Red&nbsp;Hat's culture for practicing open source. The creed, "open source meets open design", would not be possible without a strong community's allegiance to preserving the open culture mindset.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>