<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m responsible for designing for Red Hat’s corporate digital presence on our site system, like our customer success stories on the web, as well as collecting insights from both generative and evaluative research projects across our digital teams.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I open Spotify and listen to music! I’ve found that high-energy pop music really helps get me into a creative mood.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/chae-bin-park/img-summit-design.png" alt="Red Hat Summit 2022">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Red Hat Summit 2022</strong><br>This page is the go-to stop for people seeking more information about the premier open source event. Each year the team works hard on defining a distinct theme, and this page is one of the places where ease of accessibility of information and theming must work together well.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>There is a visible effort being made towards transparency throughout the design process - whether this is encouragement to share work early and often with colleagues - or simply providing the open-minded and supportive environment to be able to freely discuss the things people are passionate about, and I think that’s pretty special.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Being gracious with feedback and acting with great respect for other people’s expertise. Sharing work early and often is one way - another is that anyone on the team can drop in and take a look at or leave feedback on my work.
When I’m working with other designers, it’s a co-creative effort where all of us are working synergistically to combine the best of our ideas into a single cohesive design. There’s just the right balance of individual and team ownership.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Chae Bin Park</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">The design process is ugly, and raw, and experimental sometimes. And that’s okay! It’s about being able to embrace that to create beautiful and delightful experiences in the end.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Looking for gaps in my work where other people might be better-informed to help me and always finding ways to use my strengths as a designer to help others in their work. At Red&nbsp;Hat, you quickly learn that you can’t do one job completely by yourself. As a designer, I am often communicating, either in groups or 1:1s, with other roles and teams at different points of the design process.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I think good design and designer sensibility comes from the richness of our lived experiences. Representing a variety of different interests, experiences, and thoughts at the table gives us so much more to work with and build off of - diversity is at the core of strengthening the spirit of creativity in this way.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/chae-bin-park/img-source-design.png" alt="The Source redesign">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>The Source redesign</strong><br> The Source is Red Hat’s internal collaboration space for associates. This redesign aimed to rethink different elements of the homepage by prioritizing personalized information and important news.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I like to think of my job as taking a lot of seemingly disparate information and possibilities and then curating a desire path for people where they’ll be able to both find what they need and enjoy the journey to their destination. By applying design rigor, chops, and organization to the things we make we’re able to create space and time to advocate for and prioritize accessibility concerns and strategy to create helpful, accessible experiences.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design is about letting go of the fear of doing things perfectly the first time. The process is ugly, raw, and experimental sometimes. And that’s okay!</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>