<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I lead the Digital UX team in Red&nbsp;Hat Marketing’s Digital Experience org. We are focused on delivering a cohesive, digital-first experience for Red Hat’s evolving product portfolio that differentiates our brand, enables customer and partner success, and makes it easier to engage and transact.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My wife and I have three young boys, so mornings start early to get everyone ready and out the door. Once it is time to drive in or log in to Red&nbsp;Hat, I’m ready for the transition to work! Every day is different, but I get a lot of inspiration from several group chat spaces across our team where we regularly share our latest project updates, ideas, insights, and releases.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Aligning our design work to ensure a relevant, consistent experience for our customers comes with unique challenges given the design practice is distributed across Red&nbsp;Hat. It has been especially rewarding to usher in a new era of cross-company collaboration across design teams at Red Hat—we are building stronger bridges internally as a self-organized, global Design program and renewing our shared commitment to creating a unified experience across everything we do.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>One example is our web components UI library, where we’ve open sourced the components as a community project on GitHub.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Rob Chappell</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">We are building stronger bridges internally as a self-organized, global Design program and renewing our shared commitment to creating a unified experience across everything we do.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Design is a team sport. And we emphasize co-creation as core to our team’s approach. When we are designing and building digital experiences, we include feedback loops with stakeholders, adjacent functions, and even end users. Prioritizing this collaboration hasn’t been a tough sell, as there’s a general view at Red Hat that more perspectives make the work, thinking, design—all of it—stronger. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The research shows diverse and inclusive teams perform better in decision making and gain higher levels of trust. Both are critical factors in making the design process stronger. I’m working on actively seeking different perspectives in meetings, projects, and design reviews. And while I don’t alway recognize my own potential bias, reflecting on it helps me listen more actively.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Building a unified customer experience requires connected, accessible touchpoints that are delivered across many teams and environments. To connect the concurrent work across marketing, customer success, product, and IT teams, we’ve developed a shared user journey framework and UX design toolkit to help us focus on empathy for the people for which we are designing and consider their needs across their end-to-end experience. This shared journey framework orients our distributed work within a customer’s holistic relationship with Red&nbsp;Hat, giving us a broader view of what’s helpful or what needs to be improved. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design practices connect and align our many teams working together to build a unified experience for Red Hat. That’s about finding ways to share ideas, frameworks, systems, and insights as they are being developed to invite contribution. And making it easy for anyone to reuse or remix design assets.</p>
                    </div>
                </div>

                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Things are always moving fast in our design team. It is easy to become reactive or manage the pace with a fixed approach. There’s already an emphasis on design system adherence and repeatable patterns for how we scale our collective design work in the enterprise. That’s all very important. But equally important is exploring new ideas. Find time to reflect, observe, and dig deeper. I really appreciate designers who come to the table with a range of inputs they’ve gathered, new angles they’ve considered, and inspirational “what if…?” concepts to help us see differently and envision what’s possible. </p>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>