<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m a manager on the User Experience Design (UXD) team. I lead two groups: Content Design and PatternFly Design. Both groups drive Red Hat’s cross-portfolio product experience. Content Designers craft the in-product content experience through microcopy, which refers to the short-form messaging in a user interface such as alerts, error messages, and tooltips. PatternFly Designers focus on designing, maintaining, and evolving PatternFly, which is Red&nbsp;Hat’s open source product design system. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I enjoy leisurely mornings, so I get up at least two hours before work starts. That gives me enough time to get ready and enjoy a slow cup of tea before starting the day.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Red&nbsp;Hat values freedom. The designers on my team are free to exercise their creativity in innovative ways, explore new areas of interests, and break away from the status quo. I have the privilege of leading people who are a lot smarter than I am, and they teach me new things every day.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I emphasize open communication on my team, especially across departments. Open communication can be achieved in many forms, including Slack channels for exchanging ideas and providing feedback, workshopping with people from other teams, and delivering presentations about projects and their impact so that we can connect with others on a large scale. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Abigael Donahue</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Red&nbsp;Hat values freedom. The designers on my team are free to exercise their creativity in innovative ways, explore new areas of interests, and break away from the status quo.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>As a leader, I make collaboration my priority. I stay on top of what other departments are working on and what they’re trying to achieve, and I bring that back to the people on my team. Together, we come up with ways that we can collaborate to support each other in reaching our shared goals.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>When diverse voices are involved in the design process, the outcome is always better — we provide a more multifaceted, inclusive product experience for our users. A diverse team is able to consider multiple approaches to a user problem so that we can achieve the best possible solution. Additionally, diversity fuels creativity. It’s impossible to create a bland, flat experience when you have a team full of diverse talent and unique skills.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We want each user to feel celebrated in every interaction they have with our products. This can involve inclusive language best practices, diverse imagery, accessible colors, and more. Additionally, PatternFly has accessibility best practices baked into the design system, such as accessible color contrast and writing guidelines to ensure that our content serves global users of all abilities.</p>
                        <p>And of course, we can never forget about user research and testing. Design is “good” if it benefits users. We approach our work with an open mind and sense of agility. If users don’t feel like they belong in any area of the product experience, that’s our cue to listen, learn, and iterate. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design is a creative license that has no expiration date. It’s a way of designing that embraces change, welcomes new ideas, and requires ongoing collaboration. Each designer expects — and proactively pursues — feedback from others so that they can create an experience that exceeds user expectations. </p>
                    </div>
                </div>
                
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>