<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m an Art Director who works on brand design and naming. Our team’s primary focus is defining, writing, and publicizing the Red Hat brand standards. We also create a lot of assets, templates, and tools other Red Hat associates need to represent our brand in their work. This includes creating a lot of icons and illustrations, and overseeing elements of our design language like our color palette and typography.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>It depends on the day really, but right now it usually involves trying to solve the New York Times’ puzzles and watching people go by outside on nice days.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My experience leading a design team has been with the DPO, which itself is unique in that we’re bringing together designers from multiple departments who are all at different stages in their career. We all work in different mediums, in different softwares, tackling different problems for different audiences every day, but we come together to align our systems so that all of our work feels like Red&nbsp;Hat.</p>
                        <p>Leading the team has challenged me not only to be open minded and let go of some of my preconceived notions about how things should be done, but also to think of ways that we can find common ground as a group and to make sure that we’re considering different perspectives and meeting the needs of everyone in our solutions.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Well, for starters, we publish our work on the fully public brand.redhat.com for anyone to see. We also share some of our assets—like icons and fonts—via GitHub so that other people can download and use them. These contributions allow us to be open and honest about our brand, which is something that we find really important and that our customers and partners value.</p>
                        <p>On a personal level, I really enjoy sharing what I learn with other people, and open source practice puts a big emphasis on freely sharing knowledge and resources. In my own work, I prioritize documenting and sharing what I learned in my process in hopes that it will be useful for someone else’s work in the future.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Ryan Williams</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">I really enjoy sharing what I learn with other people, and open source practice puts a big emphasis on freely sharing knowledge and resources.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>A lot of talking, followed by a lot of listening. We spend a lot of time sharing our work and plans with other teams so that they’re in-the-loop and have the opportunity to get involved (share early, share often). Then we listen to their feedback and take the time to consider how to incorporate it. Sometimes that means having tough conversations and pivoting strategies in the middle of the project, but having an open process makes our work much better in the end.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>It’s been said before but design is a profession of solving problems. It’s impossible to solve a problem if you don’t fully understand it, and it’s impossible to fully understand a problem without listening to a wide range of people with different backgrounds and experiences.</p>
                        <p>For me it’s as simple as that: I cannot do my work correctly and expect high quality results without diverse voices and perspectives.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The interesting part of my work is that I have to consider two overlapping issues as I create: First, how do I make sure that my work itself is helpful and accessible? And then, how do I provide resources that enable other Red Hat associates to create helpful and accessible experiences for others? Our team spends a lot of time carefully incorporating principles of accessibility into our work so that when other people use our assets and follow our guidelines, accessibility will be built into the foundation of their work, too.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>For me, open design means literally being open to adjusting your perspective as you learn new information. Sometimes you have what you feel like is the best, most definitive solution to a problem. Then you get feedback that changes everything. I’ve had to adjust my strategies to focus on coming up with what I feel like is the best solution while still remaining open to changes if they’re needed. This mentality has helped me to better process critiques and changes in direction—to understand that it’s not a personal attack on my work but a step towards making something even better.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>