<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I work on a variety of different projects. These can include: event assets, graphics, user interfaces, website design, 3D rendering and more!</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I always make sure I have enough time to wake-up in the morning. This usually involves a schedule made the night before. I hate rushing! I love schedules, and coffee.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/emma-kidney/img-fedora-cloud.png" alt="Fedora Cloud">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Fedora Cloud</strong><br>Fedora Cloud is a community project from a group called the Cloud Working Group. This is the homepage for Fedora Cloud.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Everything is in the open! From the very beginning of a project, you are encouraged to share your work and ideas with other members of the team and community. The feedback and input you get is invaluable and motivates you beyond what you would achieve alone.</p>
                        <p>Seeing how other members of the team work and their own rituals can be a great inspiration and has often got me out of a creative block!</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>100% of my design toolkit is open source - this encourages collaboration and community participation as the software is accessible to everyone. If I find a new way to do something using a certain FOSS software (like Inkscape or Penpot), I am able to share it with the team and community, and vice versa. Documenting design learnings and processes ensures everyone is working from the same fountain of knowledge.</p>
                        <p>Through this, we can also create strong connections with the authors of external FOSS (Free and Open-Source Software) and their communities.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Emma Kidney</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Open design to me means design that is accessible to all—in both the finished design and the process of how it was created.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Creating a clear communication line with the team and the community is so important. With every iteration of a design, depending on who the stakeholders are, and where they reside, feedback can be solicited on the relevant platform. This can be a discussion post, mailing list, or on the ticket itself. Having that conversation and feedback loop means everyone gets their input.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Everyone is different and brings their own experiences to the table. Having unique voices and perspectives promotes creativity and new ways of thinking. You can be exposed to new skill sets you might not have even heard of before. Or incorporate a different way of looking at a problem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I document all of my work on the respective ticket. All thoughts and insights are tracked at the time of each iteration. This allows for external inputs to be made early on. It is also useful for keeping track of why a decision was made and how I got there. This can aid a developer implementing the design to understand why a certain element has to look a certain way. It also gives guidance to any newcomers.</p>
                        <p>Upon completion, designs, and assets are uploaded to the relevant repository. This allows them to be accessed at a later date by whomever needs to. Having these files easily accessible can make the team more efficient, especially when working across timezones.</p>
                        <p>The use of FOSS helps to demolish the perceived barrier to what is possible in open design.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design to me means design that is accessible to all—in both the finished design and the process of how it was created. It means the sharing of knowledge and the participation within a community.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>You don’t need proprietary software to make great designs!</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>