<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m a visual storyteller. I spend my time developing and strategizing new programs, working on tier one video projects, and guiding others in the development of their careers. My team is responsible for a number of programs at Red&nbsp;Hat including customer & partner storytelling, internal, and corporate communications.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I get energized by running and drinking coffee (lots of it). Before logging on for the day, I try to keep an eye on artists and creators I follow on Vimeo and social media. I’m always looking for new techniques or interesting ways to tell stories that I can apply to my own work.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I want my team to be able to solve our stakeholders’ creative problems. And creatives need time to be creative. At Red&nbsp;Hat, I feel fortunate to be able to give team members time for ideation and concepting when taking on a new project. We’re allowed the room to discuss, ask questions, and prototype. It also allows us to uplevel our work by trying a new skill or technique that might complement the content. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We’ve implemented an open process for intaking feedback on creative work. We allow stakeholders and the working team to comment in a public space (like a Miro board or Google document). This provides transparency, but also creates a level playing field for inputting thoughts and ideas. It becomes more of a discussion rather than a top down decision.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Kieran Moreira</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">[openness] is about having a mindset that’s willing to explore ideas or concepts that are different from your own.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Video creation is inherently collaborative. All teams need to be aligned on the vision, because each creative decision has an impact on someone else. Personally, I like to map things out with scratch outlines, storyboards, animatics, or prototypes, so everyone has a clearer picture of what the end product could look like. This provides space for other collaborators to kick the tires, and make thoughtful suggestions or decisions that better impact the final video.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We all have our blind spots. More voices and perspectives allows us to see into those blind spots and make better creative decisions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Diversity and accessibility are always top of mind for our team. With video creation, we make choices like, “Who should appear in this video? Is our cast of characters diverse or too segmented? Does our text, animation, or footage accurately portray a person or an idea? Can text on screen be better suited for web accessibility? Can we translate this video into other languages for other regions?” Part of Red&nbsp;Hat’s brand personality is being open and helpful. I think every creative choice we make should serve that mission.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I think ‘openness’ has two meanings. First, it’s about community in regards to accessibility in allowing more voices into a space to experience or contribute. And secondly, it’s personal. It’s about having a mindset that’s willing to explore ideas or concepts that are different from your own.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>