<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My main task is to continue defining our brand and making sure its rules are upheld in all the assets we produce. I find joy in generating creative solutions within the parameters of our brand.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>In the morning, I start my day off by making coffee and taking a walk outside with my dog. Afterwards, I typically will scroll through Tik Tok to get updates on trends and to see what other creatives are doing.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/sarah-foltz/img-rh-amphitheater-badges.png" alt="Red Hat Amphitheater badges">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Red&nbsp;Hat Amphitheater badges</strong><br>Named by Red&nbsp;Hat, the Red&nbsp;Hat Amphitheater is owned and run by the city of Raleigh. It hosts various performances and concerts  from the months of April through October. For the different types of backstage passes, I made both an All Access and a Limited Access badge.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>When designing at Red&nbsp;Hat, continuous learning is always encouraged. So, when a team member expresses interest in learning more about a topic or skill set, they are welcomed to do so. In my case, I had expressed interest in learning more about a different design department so I was set up with a senior designer from that department and I began a mentorship program. </p>
                        <p>Not only is continuous learning encouraged but openly sharing this new knowledge is also encouraged. This environment of openly and transparently sharing ideas has allowed me to grow as a designer.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Our brand personality of being open comes out especially in our team’s design process. Our workflows are heavily rooted in critiques, feedback, and communication. That being said, we are present for each other during every step of the process to give opinions and help improve the final product. We are able to talk through our thought process and the steps that we took to get where we are.</p>
                        <p>In addition to how we work, the work itself exudes openness. For instance, the designs we produce incorporate airy layouts with plenty of negative space in order to create a feeling of openness. From taking photos to creating icons, we take a light and simple approach to our work.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Sarah Foltz</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">By listening to and connecting with other people, I am able to gain new insight on a design challenge and solution that will ultimately lead to a stronger deliverable.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>During the entire design process, feedback, discussions, and questions are always welcomed. Whether this be a workshop, commenting on a slide deck, or open discussion, I am always putting my process work out there for other team members to give thoughtful feedback or contribute ideas to.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Good design is rooted in empathy, and the only way to empathy is through hearing perspectives that are different from our own. By listening to and connecting with other people, I am able to gain new insight on a design challenge and solution that will ultimately lead to a stronger deliverable.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/sarah-foltz/img-rh-dei.png" alt="Red Hat Diversity, Equity, and Inclusion">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Red&nbsp;Hat Diversity, Equity, and Inclusion</strong><br>In 2023, the Global DEI Office took a data-informed approach to co-create Red Hat’s DEI strategy and 3-year roadmap, as well as launching their new messaging: At Red&nbsp;Hat, we believe inclusive collaboration drives innovation. This brand kit reflects these updates to the DEI strategy.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Designing with accessibility in mind is crucial for the inclusivity and overall success of a design, as it acknowledges and assists in the constraints or needs of certain audiences. When creating our brand, accessibility is at the forefront of my mind. Whether it be color combinations or font sizes, I try to consider the needs of all of our audience members. In addition to the work I create, I help to construct rules and kits of parts that give others the tools to create successful, inclusive designs as well.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design is all about a transparent process. Rather than viewing design as a black box, open design allows for anyone to see the inputs and steps that have led to a final outcome. Because of this transparency, there is room for more critique and changes during all steps of the process, and as a result, the design becomes more resilient and responsive to change.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Never be afraid to reach out to people to ask questions, get feedback, or bounce ideas off of! You may be surprised by how much a project can develop or a skill set can grow by talking to those around you.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>