<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m responsible for upholding our brand standards, while also conceptualizing new ideas and designs within these guidelines. For me, this ranges from visual brand systems to helping to build asset libraries to designing  keynote presentations.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>First thing in the morning, I make myself a cup of tea, water my plants, and most likely turn on someone’s Tiny Desk or play a lo-fi R&B playlist. Sometimes I’ll scroll through social to see the work of other creatives. Sometimes I’ll flip through some of my coffee table books, but inspiration kind of just comes and goes. Ultimately, I just try to get into a space where I can feel ready to create for the day.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/allona-wilkerson/img-global-tech-outlook-design.png" alt="Global Tech Outlook 2022 report">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Global Tech Outlook 2022 report</strong><br>
                        This mockup gives a glimpse into both the cover design and a few of the chart designs featured in the 2022 Global Tech Outlook report. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>From day one, as an intern, I was encouraged to share my own ideas and approaches to design. This included everything from the strategy behind a project to the execution, and I remember that being intimidating starting out. But one of the aspects of becoming a graphic designer that I hold closely is the experience of the studio space.</p>
                        <p>I didn’t want to lose this idea of being open, the sharing of ideas, the crits, the collaboration with my peers from my time in undergrad. And I can say that I haven’t lost any of this designing at Red Hat. I’ve built more so on it because of Red Hat’s belief in being open.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>One of my favorite things about designing is the process itself and being able to see the “how did we get heres” and “where did we come froms.” So this idea of being transparent and releasing early and often is an important part of my own design process in wanting to share my iterative work and thinking with my peers. 
                        It’s really rewarding when  I can look back at the journey and point to a sketch or an early design or concept  as my breakthrough moment.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Allona Wilkerson</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">This makes you examine the biases and flaws of your design or you as a designer. While that may be uncomfortable you can become stronger and your design can become stronger.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I encourage always having a team of people, with their different skill sets and their own perspectives, onboarded at the very beginning of a project. In this way, our collective design process is driven by the expectation that we’re always talking and sharing with one another.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Your willingness to collaborate in your design process, should be equally matched by your inviting of diverse voices and perspectives to this same process. This inherently invites different voices and perspectives to not only collaborate but critique your work. This makes you examine the biases and flaws of your design or maybe even you as a designer. While that may be uncomfortable you can become stronger for it and your design can become stronger for it. Not that it will, but it can if you are open to it.</p>
                        <p>I do want to emphasize, though, that it is not the responsibility of these voices to make you or your work stronger. It is important to recognize those people and the contributions that helped you get to your shared solution, but prior to all of this it is the designer’s responsibility to foster a space where these voices feel like they can be honest and transparent in this process.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/allona-wilkerson/img-great-places-to-work-design.png" alt="Great Places to Work 2022">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Great Places to Work 2022 social media campaign</strong><br> A lo-fi sketch during the ideation phase of this year’s social campaign where we announced that Red Hat is among the 100 Best Companies to Work For in 2022.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The reason that I applied to Red Hat was because I saw one of the videos from <a href="//www.redhat.com/en/open-source-stories/colab" title="co.lab">Co.Lab</a> showing Red Hatters actively working to get more students, that look like a younger me and maybe didn’t have this exposure or access before, interested in tech. This effort to make this industry, and these big complicated ideas within this industry, more accessible to communities is why I applied.</p>
                        <p>My own design philosophy is that design is meant to not only visually communicate ideas but to make this information more accessible and digestible for anyone who may come in contact with it. And so, my design work has to be helpful and intentional because you don’t know the reach that you have or that your designs have, until you try.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>A willingness to learn and a willingness to change. From the smallest punctuation edit to an overhaul of a concept, I just think this idea of open design means that the design can be challenged from any and all angles without breaking or completely falling apart, because it’s not meant to. To me, open design is supposed to present opportunities to learn.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>What’s your favorite part about the process of creative work? No matter the field, no matter your specific role in it, think about how that serves you and how it enhances the work you want to put out into the world. Hold on to that.</p>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>