<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Senior Director, Brand Management + Design</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I’m inspired by nature and being outside. In the morning, when the weather is nice, I like to start my day sitting outside and taking in the natural surroundings. That, and a fresh cup of coffee with a splash of milk.</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>One of the qualities that makes Red Hat unique is the approach to open, open source and open design. Leading a design team that embraces the qualities of open design means that creative ideas are built together. Gathering input doesn’t derail the project but rather informs ways to think about problems differently. This means, as a leader, I look for ways to empower my team to work collaboratively, ask for input and build trust and relationships with other team members. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>We incorporate the open source principles of open exchange, garnering participations from others, releasing early and often and meritocracy into our design processes. We see the value in reaching out to others and gathering input from those who have different perspectives — perspectives that may challenge our own. We often work on projects that we release knowing that there will be a continuous improvement process applied to the design system. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Jessica Cox</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Gathering input doesn’t derail the project but rather informs ways to think about problems differently.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>On our team, we have many avenues in which collaboration happens and is prioritized; we have conducted listening tours to incorporate input from various stakeholders, we hold surveys to understand how others are using our brand materials, we schedule regular meetings for critiques on our designs and we’re involved in facilitating conversations with many design groups around the current and future direction of the brand. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>When looking at a design challenge, a variety of diverse voices and perspectives are needed to ensure all perspectives are considered. Getting perspectives from others helps inform new avenues that could be taken that you may have not considered before. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>On my team, we’re constantly improving our brand standards to include more accessible and inclusive experiences for the brand whether that be changes to our color palette or better instructions on how to craft a presentation with accessibility in mind. </p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design means you’re looking for an exchange of ideas. You inherently believe that working with others and gathering information makes the project better. Open design means you don’t own the project but rather see the fulfillment of letting ideas flourish and grow. </p>
                    </div>
                </div>
                
            </div>
        </div>

        <!--<div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>-->

        <!--<div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-5 text-center text-md-left">
                        <p class="small text-gray-600 mb-0">Go back</p>
                        <p><a class="btn btn-link back-btn" href="/designer-stories.html" title="Designer stories">Back to Designer stories</a></p>
                    </div>
                    <div class="col-md-3 offset-md-4 text-center text-md-left pl-md-3 pl-xl-8">
                        <p class="small text-gray-600 mb-0">Next interview</p>
                        <p><a class="btn btn-link" href="ann-nguyen.html" title="Designer stories">Ann Nguyen</a></p>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</section>