<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red&nbsp;Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My main focus is creating products that truly meet our users' needs. I work closely with different teams to ensure our customer’s product trial access is intuitive and seamless. With my experience in Red&nbsp;Hat Product Trial (RHPT), I help craft flexible, user-friendly experiences that support our users and align with Red&nbsp;Hat’s growth and vision. It’s all about collaboration and creating designs that work for both the users and the company.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>That is a great question. What doesn't inspire me? Inspiration can happen at any time and come from anywhere. I put myself in the mental space to welcome Inspiration, so coffee, casual conversation with my team, electronic music and meditation, reading, and a bit of exercise usually do the trick. Of course, none of these things happen in any particular order or on any specific day, but mixing them throughout the week allows for various pathways for Inspiration to occur. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/ronnie-mcbride/img-product-trials.png" alt="Product trials center">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Product trials center</strong><br>One of the main design goals of the Product trial experience revolves around creating a product that not only meets our customers' functional needs but also provides a positive, seamless, and enjoyable experience throughout the user's journey</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Designing at Red&nbsp;Hat is unique because the leadership at every level tries to communicate regularly with transparency in mind. Keeping the team informed as much as possible helps keep the team unified. This environment allows designers to create freely and with courage, commitment, and accountability. Everyone creating and using Red Hat products wins at the end of the day!</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I incorporate open-source principles into my design process by always focusing on customer experience and needs. Understanding the customer experience in its entirety helps me create and design with guided and empathic intention.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Ronnie McBride</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">no one has all the answers, but listening is key to collaboration. </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I prioritize collaboration across teams in my design process by listening to all contributors to a project. Trying to understand their point of view gives me another angle of perspective. In addition, it helps me be more mindful of how to approach or craft a solution to various problems that keep the design in line with the overall open UX Experience. Of course, no one has all the answers, but listening is key to collaboration.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Hmm, interesting because I think I addressed this question in my previous answer, but if you're asking me to dig deeper, I will. Red Hat provides products and services to a diverse community. The voices in these communities are not limited to any one sex, culture, disability, language, way of thinking, industry, or geographic location, so diverse perspective is an absolute necessity to the process.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/ronnie-mcbride/img-my-trials.png" alt="My trials">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>My trials</strong><br>There were several design considerations while developing the "My Trials" experience. The primary goal was to improve the onboarding process for authenticated self-serve and sales-assisted customers by creating a smooth, efficient, personalized experience. Additionally, there was an aim to offer users a clear and straightforward purchase path.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>My work delivers thoughtful, collaborative, experienced, empathetic, and accessible data-driven design thinking. I know it is a pretty confident statement, but I am convinced that the people I worked with contributed to the outcome. Shaping a design around an experience is only as good as the team's collective contribution.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design means designing freely in a collaborative community environment that empowers and nurtures creative ideas, perspectives, and ways of thinking in a safe and respected space. It's a place where everyone's diversity contributes to compelling and helpful product and service experiences.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Stay curious, keep learning, and be the kind of person who makes a difference in the lives of others. Stay open, my friends.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>