<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Describe your core responsibilities at Red Hat.</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I am currently a distinguished engineer and software engineering manager, but for most of my career I have specialized in upstream UX design as a UX engineer. I was a senior member of a virtual team in Core Platforms Engineering called the Community Design Team. We all focused on upstream UX design with communities such as Fedora, the Community Platform Engineering team, Podman and the Containers community, amongst others. Now I lead an engineering team that is focused on an upstream-facing AI project (InstructLab.)</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Every morning I survive the MBTA (Boston’s public transit system) is a day worthy of inspiration ;-) No, but seriously, I do often have calls with one of my mentors on my train into work to check in and chat, and it’s usually the shot in the arm I need to start the day off right!</p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes leading a design team at Red&nbsp;Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Unlike many other tech companies, Red&nbsp;Hat does not lock users into proprietary silos nor does Red&nbsp;Hat extract value by productizing their customers and their data. This is motivating - I don't want to engage in dark patterns trying to trick users into making clicks they don't want to make, to influence them to feel safe in revealing data they'd rather not give up. Red&nbsp;Hat's philosophy is to create open source "upstream first," so I’ve gotten to practice design embedded in upstream open source communities, out in the open, side-by-side with community contributors. All of the iterations are in the open and public. This is atypical for a traditional design workflow where iterations are often done privately and presented publicly only at certain milestones at a certain level of polish, if at all.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>The practice many open source designers typically follow starts with the tools and formats - open source tools such as Penpot, Inkscape, and git. These tools use open standards and formats, and are truly freely accessible to any potential community contributors and extended members of the team. The design artifacts produced in these tools must be shared in an open and continuous way. Collaborating upstream in the communities we serve, and having an open and transparent process that anyone can follow and learn from is also an important aspect. As we say at Red&nbsp;Hat, “the best ideas can come from anywhere,” so part of incorporating open source principles into a design process is keeping the door open and accessible for anyone to participate.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Máirín "Mo" Duffy</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">-----TO DO-----</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Following an open and transparent process makes this easy. Collaborating in the same ticket system / git repo / other communication channels with the community is an important aspect of this. Having openly-accessible artifacts to facilitate collaboration and record decisions is critical. These artifacts can be shared across teams, and reviewed during regular checkpoints to make sure stakeholders have a chance to provide feedback and contribute. A really important part of collaboration across teams, by the way, is making sure that your artifacts are shared while raw and well before they are super refined. Nothing says, “no, I don’t really want to collaborate” like surprising the folks you’re meant to collaborate with a slick, polished design that nobody feels they have space to provide real feedback.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>People with diverse voices and perspectives are going to be using the software that ultimately results from the designs we create. It’s a lot more efficient and effective to get a representative sample of feedback and involvement while these designs are rough ideas sketched out, rather than polished designs, rather than implemented software. People with different backgrounds and ways of thinking working together can create amazing innovation.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>A main theme across the body of design work I have produced in my career is the democratization of technology with open source. It’s important that anyone can access the tools they need to achieve their goals - cost, license, format, usability, and accessibility simply shouldn’t be barriers. The project I work on right now, InstructLab, in part is focused on making the fine-tuning of large language models (LLMs) more accessible to more people. We have tooling that simplifies the fine-tuning process into the creation of a few examples in a plain text and human-readable YAML format, and we’re continually working on optimizing the software to run on smaller and more modest hardware - like a typical laptop, even without a GPU - to be allow people to explore, play, and learn how to use and customize LLMs without requiring a lot of specialized knowledge or hardware.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open tools, open standards, open formats, open artifacts, open process, open collaboration, open access == open design.</p>
                    </div>
                </div>

                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">Any last thoughts?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>I hope this profile will be released under an open license. :) CC-BY-SA is a good one!</p>
                    </div>
                </div>
                
            </div>
        </div>

        

    </div>
</section>