<section class="designer-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What is your role and what team do you work on?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Associate Manager working on Red Hat’s Digital Strategy for the Digital UX Design (DUXD) team.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you get inspired first thing in the morning?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>After a large cup of coffee, ample stretching, and time spent with my partner and animals&mdash;engaging with product teams for strategy calls and feedback sessions fuels my inspiration each and every morning.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/krystal-moore/img-wireframe-sketch-design.png" alt="Customer dashboard ideation">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Customer dashboard ideation</strong><br> Low fidelity concept sketches for the redesign of a tool used by both customers and Red Hat associates on the Customer Portal. The dashboard helps our customers maximize value in their relationship with Red Hat.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What makes designing at Red Hat unique?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Red&nbsp;Hat’s open source principles creates an open and transparent atmosphere where every associate has a voice and can make an impact starting on day one. Designing concrete solutions is very often a combined effort of different voices and perspectives from across the company and around the globe.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How are you incorporating open source principles into your designs or design processes?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Working on our design system collaborative gives myself, and other designers, a chance to align on standards and discuss improvements to our component library. Everyone is given the space for creativity to challenge existing components and create new ones to modify or expand our library. Throughout the design process, my files are completely open and accessible to product designers to view or leave comments on at any time, and shared with product teams and stakeholders through feedback sessions and strategy calls.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-2">
                        <h4 class="font-size-16">Krystal Moore</h4>
                    </div>
                    <div class="col-md-9 offset-md-1">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">
                        <h2 class="xl">Open design can also reinforce a supportive and collaborative relationship with customers by bringing them into the design process through testing and feedback sessions.</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you prioritize collaboration across teams in your design process?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Collaborating with product teams to understand the problem(s) we’re trying to solve, and then maintaining an open and collaborative partnership throughout the design process to continually gather feedback is key. During the research and ideation phase, reviews with peers on the DUXD team and other UX designers at Red&nbsp;Hat to align on strategy always drives me towards better solutions.</p>
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How do you think diverse voices and perspectives make the design process stronger?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Every person creates mental models that are based on exposure, life experiences, culture, and society around you. Diverse voices and perspectives challenge our mental models to consider differing views and backgrounds to break down any biases or assumptions we may have for how people will interact with our designs.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-6 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-8">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/krystal-moore/img-customer-portal-design.png" alt="Customer dashboard prototype">
                    </div>
                    <div class="col-md-4 pt-2 pt-md-0">
                        <p class="font-size-16"><strong>Customer dashboard prototype</strong><br> A snapshot of our high fidelity prototype in a later phase of the design process before going through a final copy review and handing it off to engineering.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-4 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">How does your design work contribute to the creation of helpful and accessible experiences?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>As a former engineer and strong advocate for web standards and accessibility, I’m now translating those skills into creating simple designs and interactions that always consider screen reader navigation, while also encouraging education on accessibility best practices and the use of semantic HTML throughout our product teams.</p>
                        
                    </div>
                </div>
                <div class="row pt-4 pt-md-8">
                    <div class="col-md-4">
                        <h3 class="text-red font-size-32 font-weight-light designer-question">What does open design mean to you?</h3>
                    </div>
                    <div class="col-md-7 offset-md-1">
                        <p>Open design is about reinforcing transparency throughout the design process to hear as many diverse voices and perspectives as we can to improve our solutions. Open design can also reinforce a supportive and collaborative relationship with customers by bringing them into the design process through testing and feedback sessions.</p>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</section>