<section id="designers" class="dms-band pt-0 designer-list-view">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-2 text-center px-lg-0">
                <h2 class="xl">Browse designer stories by discipline</h2>
            

                <ul class="nav nav-pills nav-discipline-filter my-4">
                    <li class="nav-item">
                        <a class="nav-link active" href="#browse-designers" data-filter="brand" data-analytics-text="Brand" role="button" >Brand</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#browse-designers"  data-filter="creative" data-analytics-text="Creative direction" role="button" >Creative direction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#browse-designers" data-filter="digital" data-analytics-text="Digital" role="button" >Digital</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#browse-designers" data-filter="leadership" data-analytics-text="Leadership" role="button" >Leadership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#browse-designers" data-filter="product" data-analytics-text="Product" role="button" >Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#browse-designers" data-filter="systems" data-analytics-text="Systems" role="button" >Systems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#browse-designers" data-filter="ux" data-analytics-text="UX" role="button" >UX</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link--view-all" href="#browse-designers" data-filter="all" data-analytics-text="View all" role="button" >View all</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-10 offset-xl-2 px-lg-0">
                <div class="row">
                    <div class="col-md-6 card-wrapper creative digital leadership ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/aaron-williamson/img-avatar.png" alt="Aaron Williamson" class="designer-profile-image img-fluid">
                                </div>
                                <div class="col-md-8 pr-0">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Open design is a name for the natural way we create.</p>

                                    <p class="mb-0"><strong>Aaron Williamson</strong></p>

                                    <p class="mb-0">Manager, UX Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="aaron-williamson.html">Read Aaron’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper leadership product systems ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/abigael-donahue/img-avatar.png" class="designer-profile-image img-fluid" alt="Abigael Donahue">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">I emphasize open communication on my team.</p>

                                    <p class="mb-0"><strong>Abigael Donahue</strong></p>

                                    <p class="mb-0">Manager,<br>UXD Content & PatternFly Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="abigael-donahue.html">Read Abigael’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper digital product ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/ann-nguyen/img-avatar.png" class="designer-profile-image img-fluid" alt="Ann Nguyen">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">I consider myself to be transparent when it comes to sharing my design</p>

                                    <p class="mb-0"><strong>Ann Nguyen</strong></p>

                                    <p class="mb-0">Product Designer</p>
                                    <p class="pt-1"><a class="btn-link btn" href="ann-nguyen.html">Read Ann’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper brand systems ux active designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/allona-wilkerson/img-avatar.png" class="designer-profile-image img-fluid" alt="Allona Wilkerson">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">My design work has to be helpful and intentional</p>

                                    <p class="mb-0"><strong>Allona Wilkerson</strong></p>

                                    <p class="mb-0">Senior Designer</p>
                                    <p class="pt-1"><a class="btn-link btn" href="allona-wilkerson.html">Read Allona’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper digital ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/chae-bin-park/img-avatar.png" class="designer-profile-image img-fluid" alt="Chae Bin Park">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">The design process is ugly, and raw, and experimental sometimes. And that’s okay!</p>

                                    <p class="mb-0"><strong>Chae Bin Park</strong></p>

                                    <p class="mb-0">Associate UX Designer</p>
                                    <p class="pt-1"><a class="btn-link btn" href="chae-bin-park.html">Read Chae Bin’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper digital leadership systems ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/jason-brock/img-avatar.png" class="designer-profile-image img-fluid" alt="Jason Brock">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">It’s normal for designers to shoot for the moon</p>

                                    <p class="mb-0"><strong>Jason Brock</strong></p>

                                    <p class="mb-0">Manager,<br>Digital Experience Product Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="jason-brock.html">Read Jason’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper leadership product ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/jeremy-perry/img-avatar.png" class="designer-profile-image img-fluid" alt="Jeremy Perry">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">I think open source at its core is an act of design</p>

                                    <p class="mb-0"><strong>Jeremy Perry</strong></p>

                                    <p class="mb-0">Senior Manager,<br>User Experience Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="jeremy-perry.html">Read Jeremy’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper leadership brand creative designer mb-2 active mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/jessica-cox/img-avatar.png" class="designer-profile-image img-fluid" alt="Jeremy Perry">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Open design means you’re looking for an exchange of ideas</p>

                                    <p class="mb-0"><strong>Jessica Cox</strong></p>

                                    <p class="mb-0">Senior Director,<br>Brand Management + Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="jessica-cox.html">Read Jessica’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper digital product ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/kevin-hatchoua/img-avatar.png" class="designer-profile-image img-fluid" alt="Kevin Hatchoua">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Our designs are influenced by both the upstream and downstream community</p>

                                    <p class="mb-0"><strong>Kevin Hatchoua</strong></p>

                                    <p class="mb-0">Senior User Experience Designer</p>
                                    <p class="pt-1"><a class="btn-link btn" href="kevin-hatchoua.html">Read Kevin’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper digital product ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/krystal-moore/img-avatar.png" class="designer-profile-image img-fluid" alt="Krystal Moore">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Open design is about reinforcing transparency throughout the design process</p>

                                    <p class="mb-0"><strong>Krystal Moore</strong></p>

                                    <p class="mb-0">Associate Manager, Product Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="krystal-moore.html">Read Krystal’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper brand creative leadership active designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/libby-levi/img-avatar.png" class="designer-profile-image img-fluid" alt="Libby Levi">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">There’s also an open source ethos at the heart of how we think about building our brand</p>

                                    <p class="mb-0"><strong>Libby Levi</strong></p>

                                    <p class="mb-0">Creative Director</p>
                                    <p class="pt-1"><a class="btn-link btn" href="libby-levi.html">Read Libby’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper digital leadership product systems ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/liz-wood/img-avatar.png" class="designer-profile-image img-fluid" alt="Liz Wood">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Open design relies on collaboration between different disciplines</p>

                                    <p class="mb-0"><strong>Liz Wood</strong></p>

                                    <p class="mb-0">Associate Manager, UX Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="liz-wood.html">Read Liz’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper creative digital leadership ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/rob-chappell/img-avatar.png" class="designer-profile-image img-fluid" style="border-radius: 100%;" alt="Rob Chappell">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Building a unified customer experience requires connected, accessible touchpoints</p>

                                    <p class="mb-0"><strong>Rob Chappell</strong></p>

                                    <p class="mb-0">Senior Director, UX Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="rob-chappell.html">Read Rob’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper product leadership ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/amber-asaro/img-avatar.png" class="designer-profile-image img-fluid" style="border-radius: 100%;" alt="Amber Asaro">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">We [Red&nbsp;Hat] do a great job (better than I’ve seen at other companies) of balancing taking appropriate risks while holding ourselves accountable, so we are free to be experimental and creative, while also getting work done</p>

                                    <p class="mb-0"><strong>Amber Asaro</strong></p>

                                    <p class="mb-0">Associate Manager, UXD</p>
                                    <p class="pt-1"><a class="btn-link btn" href="amber-asaro.html">Read Amber’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper systems leadership designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/chris-shinn/img-avatar.png" class="designer-profile-image img-fluid" style="border-radius: 100%;" alt="Chris Shinn">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">It is so easy to fall into thinking that your needs and experiences represent the whole. Designing along with other people who have different backgrounds and priorities isn’t just important, it’s necessary to create robust designs</p>

                                    <p class="mb-0"><strong>Chris Shinn</strong></p>

                                    <p class="mb-0">Senior Design Ops Admin, UX Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="chris-shinn.html">Read Chris’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper product leadership ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/julia-bley/img-avatar.png" class="designer-profile-image img-fluid" style="border-radius: 100%;" alt="Julia Bley">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Design is more than creating art. Everyone has different talents and passions. Imagine everyone brings these traits to build something great</p>

                                    <p class="mb-0"><strong>Julia Bley</strong></p>

                                    <p class="mb-0">Manager Software Engineering, Community Platform Engineering (CPE)</p>
                                    <p class="pt-1"><a class="btn-link btn" href="julia-bley.html">Read Julia’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper systems digital leadership ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/kristen-borgna/img-avatar.png" class="designer-profile-image img-fluid" style="border-radius: 100%;" alt="Kristen Borgna">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">Being a Red&nbsp;Hatter allows me to be my authentic self. I’m leveraging my background in design and carving a career path for myself and my team, which is unique to Red&nbsp;Hat</p>

                                    <p class="mb-0"><strong>Kristen Borgna</strong></p>

                                    <p class="mb-0">Senior Manager, Digital UX research, operations & quality</p>
                                    <p class="pt-1"><a class="btn-link btn" href="kristen-borgna.html">Read Kristen’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper product leadership ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/leslie-hinson/img-avatar.png" class="designer-profile-image img-fluid" style="border-radius: 100%;" alt="Leslie Hinson">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">I think prioritizing collaboration means being intentional about the way that we work together. It’s not just about who should be involved, but also what are the best UX methods for the outcome that you want to achieve?</p>

                                    <p class="mb-0"><strong>Leslie Hinson</strong></p>

                                    <p class="mb-0">Senior Director, UX Design</p>
                                    <p class="pt-1"><a class="btn-link btn" href="leslie-hinson.html">Read Leslie’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 card-wrapper brand systems ux designer mb-2 mx-1 mx-md-0">
                        <div class="card border border-gray-500 p-2 pt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="/assets/img/pages/designer-stories/ryan-williams/img-avatar.png" class="designer-profile-image img-fluid" style="border-radius: 100%;" alt="Ryan Williams">
                                </div>
                                <div class="col-md-8">
                                    <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                    <p class="mb-6">I really enjoy sharing what I learn with other people, and open source practice puts a big emphasis on freely sharing knowledge and resources</p>

                                    <p class="mb-0"><strong>Ryan Williams</strong></p>

                                    <p class="mb-0">Art Director, Brand and Creative team</p>
                                    <p class="pt-1"><a class="btn-link btn" href="ryan-williams.html">Read Ryan’s story</a></p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>

       