<section id="designers" class="dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-2 text-center">
                <h2 class="text-red xl">What makes designing at Red Hat unique?</h2>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-allona-wilkerson-sm.png" alt="Allona Wilkerson photo">
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-allona-wilkerson-md.png" alt="Allona Wilkerson photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-allona-wilkerson-lg.png" alt="Allona Wilkerson photo">
                    </div>

                    <div class="col-md-8">
                        <div class="card mb-0 p-2 p-md-1 p-lg-4">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">I was encouraged to share my own ideas and approaches to design. This included everything from the strategy behind a project to the execution, and I remember that being intimidating starting out. But one of the aspects of becoming a designer that I hold closely is the experience of the studio space.</p>

                                <p class="mb-0 font-size-16"><strong>Allona Wilkerson</strong></p>

                                <p class="mb-0 font-size-16">Graphic Designer, Brand Design</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Read about Allona</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border pr-sm-0">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-ann-nguyen-sm.png" alt="Ann Nguyen photo">
                    </div>

                    <div class="col-md-8">
                        <div class="card mb-0 p-2 p-lg-4 pt-lg-8">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">Red Hat has so many products and avenues to share their product information so finding patterns and creating consistency throughout the platform is uniquely challenging.</p>

                                <p class="mb-0 font-size-16"><strong>Ann Nguyen</strong></p>

                                <p class="mb-0 font-size-16">Associate Product Designer</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Read about Ann</a></p>
                        </div>
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-ann-nguyen-md.png" alt="Ann Nguyen photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-ann-nguyen-lg.png" alt="Ann Nguyen photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-10 offset-xl-2 px-0">
            <div class="pt-4 pt-md-8 border-bottom border-red"></div>
        </div>

        <div class="row pt-6">
            <div class="col-xl-8 offset-xl-3 text-center">
                <h2 class="text-red xl">How are you incorporating open source principles into your designs or design processes?</h2>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-liz-wood-sm.png" alt="Liz Wood photo">
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-liz-wood-md.png" alt="Liz Wood photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-liz-wood-lg.png" alt="Liz Wood photo">
                    </div>

                    <div class="col-md-8">
                        <div class="card mb-0 p-2 pt-sm-1 p-lg-4 pt-lg-6">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">The entire design process is very open and collaborative. Adobe XD has a coediting feature which allows me to invite other designers into my files so we can collaborate and design together in real time. Also, briefs, copy docs, and design mockups are all open to feedback and commenting.</p>

                                <p class="mb-0 font-size-16"><strong>Liz Wood</strong></p>

                                <p class="mb-0 font-size-16">Principal UX Designer</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Read about Liz</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border pr-sm-0">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-kevin-hatchoua-sm.png" alt="Kevin Hatchoua photo">
                    </div>

                    <div class="col-sm-8">
                        <div class="card mb-0 p-2 p-lg-4 pt-lg-8">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">Our designs are influenced by both the upstream and downstream community. From our design system, to our processes, frameworks and code repos, everything is open and accessible to the public.</p>

                                <p class="mb-0 font-size-16"><strong>Kevin Hatchoua</strong></p>

                                <p class="mb-0 font-size-16">Senior UX Designer</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Read about Kevin</a></p>
                        </div>
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-kevin-hatchoua-md.png" alt="Kevin Hatchoua photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-kevin-hatchoua-lg.png" alt="Kevin Hatchoua photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-10 offset-xl-2 px-0">
            <div class="pt-4 pt-md-8 border-bottom border-red"></div>
        </div>

        <div class="row pt-6">
            <div class="col-xl-8 offset-xl-3 text-center">
                <h2 class="text-red xl">How do you think diverse voices and perspectives make the design process stronger?</h2>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-chae-bin-park-sm.png" alt="Chae Bin Park photo">
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-chae-bin-park-md.png" alt="Chae Bin Park photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-chae-bin-park-lg.png" alt="Chae Bin Park photo">
                    </div>

                     <div class="col-sm-8">
                         <div class="card mb-0 p-2 pt-sm-1 p-lg-4">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">I think good design and designer sensibility comes from the richness of our experiences. If you’ve got a group of people with a variety of different interests, experiences, and thoughts you have so much more to work with and build off of - diversity is at the core of strengthening the spirit of creativity.</p>

                                <p class="mb-0 font-size-16"><strong>Chae Bin Park</strong></p>

                                <p class="mb-0 font-size-16">Associate UX Designer</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Chae Bin</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border pr-sm-0">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-michael-celedonia-sm.png" alt="Michael Celedonia photo">
                    </div>

                    <div class="col-sm-8">
                        <div class="card mb-0 p-2 p-lg-4">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">Diverse voices strengthen the creative process by providing ideas from a perspective that otherwise wouldn’t have been heard. I think our life experiences culminate in the way we approach problem solving, and having a diverse array of perspectives will only strengthen our processes and solutions.</p>

                                <p class="mb-0 font-size-16"><strong>Michael Celedonia</strong></p>

                                <p class="mb-0 font-size-16">Visual Design Team Lead</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Read about Michael</a></p>
                        </div>
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-michael-celedonia-md.png" alt="Michael Celedonia photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-michael-celedonia-lg.png" alt="Michael Celedonia photo">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-10 offset-xl-2 px-0">
            <div class="pt-4 pt-md-8 border-bottom border-red"></div>
        </div>

        <div class="row pt-6">
            <div class="col-xl-8 offset-xl-3 text-center">
                <h2 class="text-red xl">How does your design work contribute to the creation of helpful and accessible experiences?</h2>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-krystal-moore-sm.png" alt="Krystal Moore photo">
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-krystal-moore-md.png" alt="Krystal Moore photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-krystal-moore-lg.png" alt="Krystal Moore photo">
                    </div>

                    <div class="col-sm-8">
                        <div class="card mb-0 p-2 pt-sm-1 p-lg-4">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">As a former engineer and advocate for web standards and accessibility, I’m now translating those skills into creating designs that always consider screen reader navigation, while encouraging education on accessibility best practices and the use of semantic HTML throughout our product teams.</p>

                                <p class="mb-0 font-size-16"><strong>Krystal Moore</strong></p>

                                <p class="mb-0 font-size-16">Senior Product Designer</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Read about Krystal</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-4">
            <div class="designer-cards col-xl-10 offset-xl-2 border pr-sm-0">
                <div class="row">
                    <div class="col-12 d-md-none px-0">
                        <img class="img-fluid border" src="/assets/img/pages/designer-stories/photo-fadzly-sayarasi-sm.png" alt="Fadzly Sayarasi photo">
                    </div>

                    <div class="col-sm-8">
                         <div class="card mb-0 p-2 p-lg-4 pt-lg-8">
                            <div class="card-body border-left border-red pl-2">
                                <img class="svg quote mb-1" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                                <p class="mb-1">Producing diverse assets that can be used across all regions helps collaboration.</p>

                                <p class="mb-0 font-size-16"><strong>Fadzly Sayarasi</strong></p>

                                <p class="mb-0 font-size-16">Senior Designer and Brand Manager</p>
                            </div>

                            <p class="pt-1"><a class="btn-link btn" href="#">Read about Fadzly</a></p>
                        </div>
                    </div>

                    <div class="col-4 px-0 d-none d-md-block d-lg-none">
                         <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-fadzly-sayarasi-md.png" alt="Fadzly Sayarasi photo">
                    </div>

                    <div class="col-4 px-0 d-none d-lg-block">
                        <img class="img-fluid" src="/assets/img/pages/designer-stories/photo-fadzly-sayarasi-lg.png" alt="Fadzly Sayarasi photo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>