<section class="hero dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2 px-0">
                <img class="img-fluid hero-img" src="/assets/img/pages/designer-stories/amber-asaro/img-hero.png" alt="Amber Asaro's desk">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 offset-lg-2 offset-xl-3 mt-n9">
                <div class="media align-items-center pt-4 pl-2">
                    <img class="mr-3 designer-img rounded-circle border-white" src="/assets/img/pages/designer-stories/amber-asaro/img-avatar.png" alt="Amber Assaro photo">

                    <div class="media-body pt-6">
                        <h2 class="my-0 my-md-1 font-size-lg-36">Amber Asaro</h2>

                        <p class="mb-1">Associate Manager, UXD / Ponte Vedra, FL</p>

                        <!-- <p class="font-size-14"><a href="//www.allonawilkerson.com/" title="portfolio">Portfolio</a> / <a href="//www.linkedin.com/in/allona-wilkerson-0a0638111/" title="LinkedIn">LinkedIn</a></p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>