<section class="hero dms-band">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9 col-md-10 col-lg-8 col-xl-7 offset-xl-2 pl-xl-0">
                <h3 class="section-label mb-1 mb-md-0 text-red">Designer stories</h3>

                <h1 class="mb-3 mb-md-6 interior-h1">Better experiences start with collaboration</h1>

                <p class="mb-0 font-size-20">Sharing ideas and hearing multiple perspectives is how we work, and we push ourselves to improve every day. We asked some designers about being open, sharing perspectives, and waking up in the morning. Hear what they had to say.</p>
            </div>

            <div class="col-12 col-xl-10 offset-xl-2 px-xl-0">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>
    </div>
</section>