<section class="hero dms-band pt-0">
    <div class="row">
        <div class="col-12 col-xl-10 offset-xl-3 px-0">
            <img class="img-fluid hero-img" src="/assets/img/pages/designer-stories/chae-bin-park/img-hero.png" alt="Ann's desk">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9 offset-lg-2 offset-xl-3 mt-n9">
                <div class="media align-items-center pt-4 pl-2">
                    <img class="mr-3 designer-img" src="/assets/img/pages/designer-stories/chae-bin-park/img-avatar.png" alt="Chae Bin Park photo">

                    <div class="media-body pt-6 pt-md-0">
                        <h3 class="my-0 my-md-1">Chae Bin Park</h3>

                        <p class="mb-0">Associate UX Designer / Atlanta, GA</p>

                        <p class="font-size-14"><a href="https://www.chaebin.design/" title="Portfolio">Portfoliio</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
