<section class="hero dms-band" id="design-principles-hero">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-7 offset-xxl-2 pl-xxl-0">
                <h3 class="section-label mb-1 text-red">Design principles</h3>
                <h1 class="mb-3 interior-h1">Collaboration is built <br class="d-none d-xl-block">on shared principles</h1>
                <p class="mb-0 font-size-20 pr-xl-1">Open design can mean different things to different people. To keep us aligned and working towards a shared vision, we have design principles. Our principles are the fundamentals that build a strong foundation for open design to thrive.</p>
            </div>
            <div class="col-12 col-xl-10 offset-xxl-2 pl-xxl-0">
                <div class="pt-2 pt-md-6 pt-lg-8 border-bottom border-red"></div>
            </div>
        </div>
    </div>
</section>