<section class="release-notes-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row pt-6 pt-md-8">
                    <div class="col">
                        <h3 class="mb-1">Release v3.0</h3>
                        <p class="text-gray-600 small">Released: September 2023</p>
                    </div>
                </div>

                <div class="row pt-4">
                    <div class="col-md-7">
                        <h4>Notes</h4>
                        <p>This update introduces Red&nbsp;Hat's design principles to expound on our open design philosophy as a concrete way of working. It also expands our highlight on open design to include leaders of design teams across Red Hat. The update brings in 7 interviews as individual pages, a new way to get to designer stories by discipline, and the navigational structure to support these new pages. </p>
                        <h4 class="pt-2 pt-md-3">Impact</h4>
                        <p>We have released a core aspect of Red&nbsp;Hat's design methodology in keeping with our open source nature. And visitors can see design teams and design leadership as part of the open design culture and understand the effect they have on our work at Red&nbsp;Hat.</p>
                    </div>
                    <div class="col-md-5 pt-4 pt-md-0">
                        <h4>Added</h4>
                        <ul class="list-unstyled">
                            <li class="border-left border-red py-1 pl-2 mb-1">Design principles overview page</li>
                            <li class="border-left border-red py-1 pl-2 mb-1">8 design principle pages</li>
                            <li class="border-left border-red py-1 pl-2 mb-1">7 designer stories pages</li>
                        </ul>

                        <h4 class="pt-4 pt-md-8">Updated</h4>
                        <ul class="list-unstyled">
                            <li class="border-left border-red py-1 pl-2 mb-1">Updated home page content including links to designer profiles</li>
                            <li class="border-left border-red py-1 pl-2 mb-1">Updated designer stories page with filtering component</li>
                            <li class="border-left border-red py-1 pl-2 mb-1">These release notes</li>
                        </ul>
                    </div>
                </div>
               
               <div class="pt-4 pt-md-8 border-bottom border-red"></div>

                <div class="row pt-6 pt-md-8">
                    <div class="col">
                        <h3 class="mb-1">Release v2.0</h3>
                        <p class="text-gray-600 small">Released: June 2022</p>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-7">
                        <h4>Notes</h4>
                        <p>We launched 8 pages featuring interviews from some of our designers at Red Hat. Introducing a new series called <strong>Designer stories</strong>. </p>
                        <h4 class="pt-2 pt-md-3">Impact</h4>
                        <p>Visitors can read impactful stories about why designers love doing design, why they love working at Red Hat, and other things.</p>
                    </div>
                    <div class="col-md-5 pt-4 pt-md-0">
                        <h4>Added</h4>
                        <ul class="list-unstyled">
                            <li class="border-left border-red py-1 pl-2 mb-1">Added 8 new Designer stories pages to navigation</li>
                            <li class="border-left border-red py-1 pl-2 mb-1">Added 3 Designer stories pages to home page grid </li>
                            <li class="border-left border-red py-1 pl-2 mb-1">Added a Release notes page</li>
                        </ul>

                        <h4 class="pt-4 pt-md-8">Updated</h4>
                        <ul class="border-left border-red list-unstyled pl-2">
                            <li>Updated home page content including links to designer profiles</li>
                        </ul>
                        
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-6 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-1">Release v1.0</h3>
                        <p class="text-gray-600 small">Released: October 2021</p>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-7">
                        <h4>Notes</h4>
                        <p>We’re excited to announce that we’ve launched a new resource for design at
                        Red&nbsp;Hat. <a href="/" title="Design at Red Hat">design.redhat.com</a> is a new, central location for design and designers at Red Hat. We hope this is a useful resource for our internal design teams, across all disciplines and teams, as well as a tool to introduce the design world at large to our open design approach.</p>

                        <p>The process of creating design.redhat.com started this spring with a design thinking workshop focused on developing a single philosophy statement that all resonated with all of our design teams. The result of that workshop is below, and formed the core of the new page:</p>

                        <p>Open design is built on collaboration.
                        It’s a conversation between diverse voices. It’s about listening to what our community needs, taking that feedback, and creating systems that work together, across teams and contexts. Open design creates helpful and accessible experiences for real people.</p>


                        <p>From there, we looked at how our peer organizations talk about the role of design and then pulled together a team from all our primary design organizations to work together on the new site.</p>

                        <p>We’re really happy with what we came up with, but in the true spirit of open design, we know this is just the beginning. We have the first draft live, but we need your feedback to make it better and determine where it goes next.</p>

                        <h4 class="pt-2 pt-md-3">Impact</h4>
                        <p>We hope that the result highlights the practice of design at Red Hat in all its forms, makes a bold and public statement on the importance of open, collaborative design practices, collects the resources you need to do your job in one place, and serves as an effective recruiting tool for new members of our teams.</p>
                    </div>
                    <div class="col-md-5 pt-4 pt-md-0">
                        <h4>Added</h4>
                        <ul class="border-left border-red list-unstyled pl-2">
                            <li>design.redhat.com launched!</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>