<section class="release-notes-content dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-1">Release v2.0</h3>
                        <p class="text-gray-600 small">Released: June 2022</p>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-7">
                        <h4>Notes</h4>
                        <p>This update highlights designers across Red Hat from varied disciplines to get a realistic and in depth perspective on open design. The update features 8 individual designer interviews as individual pages, a design profiles overview page, and the navigational structure to support these new pages. </p>
                        <h4 class="pt-2 pt-md-3">Impact</h4>
                        <p>Highlights designers as individuals and emphasizes the importance of an open design culture and the effect it has on our work at Red&nbsp;Hat.</p>
                    </div>
                    <div class="col-md-5 pt-4 pt-md-0">
                        <h4>Added</h4>
                        <ul class="list-unstyled">
                            <li class="border-left border-red py-1 pl-2 mb-1">Design profiles overview page</li>
                            <li class="border-left border-red py-1 pl-2 mb-1">8 designer profile pages </li>
                            <li class="border-left border-red py-1 pl-2 mb-1">Release notes page</li>
                            <li class="border-left border-red py-1 pl-2">Nav structure</li>
                        </ul>

                        <h4 class="pt-4 pt-md-8">Updated</h4>
                        <ul class="border-left border-red list-unstyled pl-2">
                            <li>Updated home page content and links to designer profiles</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-bottom border-red"></div>
            </div>
        </div>

        <div class="row pt-6 pt-md-8">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="row">
                    <div class="col">
                        <h3 class="mb-1">Release v1.0</h3>
                        <p class="text-gray-600 small">Released: October 2021</p>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col-md-7">
                        <h4>Notes</h4>
                        <p><a href="https://design.redhat.com/" title="Design.redhat">Design.redhat.com</a> is a new, central location for design and designers at Red&nbsp;Hat. We hope this is a useful resource for our internal design teams, across all disciplines and teams, as well as a tool to introduce the design world at large to our open design approach.</p>
                        <h4 class="pt-2 pt-md-3">Impact</h4>
                        <p>Highlights the practice of design at Red&nbsp;Hat in all its forms, makes a bold and public statement on the importance of open, collaborative design practices, collects the resources you need to do your job in one place, and serves as an effective recruiting tool for new members of our teams. </p>
                    </div>
                    <div class="col-md-5 pt-4 pt-md-0">
                        <h4>Added</h4>
                        <ul class="border-left border-red list-unstyled pl-2">
                            <li>Main hub page for design at Red&nbsp;Hat including information on how we work, design resources, and design job information.</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>