.designer-cards {
    @media (max-width: breakpoint-min(sm)) {
        margin: 0 10px;
    }
}

.back-btn::after {
    position: left;
    position: absolute;
    left: -33px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}

@media (max-width: breakpoint-min(sm)){
	.designer-img{
		width: 30%;
	}

	.designer-question{
		font-size: 30px !important;
	}
}

@media (max-width: breakpoint-min(xl)){
	.hero-img{
		width: 100%;
	}
}

.designer-img{
	outline: 8px solid $white;
	outline-offset: -1px;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
}

