.designer-cards {
    @media (max-width: breakpoint-min(sm)) {
        margin: 0 10px;
    }
}

.back-btn::after {
    position: left;
    position: absolute;
    left: -33px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}