#how-we-work {
    .border-top {
        @media (min-width: breakpoint-min(md)) {
            border-top: none !important;
        }
    }

    .row.d-flex {
        @media (min-width: breakpoint-min(md)) {
            height: 1950px;
            max-height: 1950px;
        }

        @media (min-width: breakpoint-min(lg)) {
            height: 1920px;
            max-height: 1920px;
        }

        @media (min-width: breakpoint-min(xl)) {
            height: 2090px;
            max-height: 2090px;
        }
    }

    .pb-3 {
        @media (min-width: breakpoint-min(md)) {
            flex: initial;
            display: block;
        }
    }
}