#sticky-nav {
    &.sticky {
        box-shadow: 0 0 5px rgba(0,0,0,0.5);

        .nav {
            border-color: $white !important;

            a {
                margin-top: -3px;
                border-top: 3px solid transparent;

                &.active {
                    border-color: $red;
                }
            }
        }
    }
}