<section class="dms-band">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-lg-6 mx-auto text-center">
                <h3 class="section-label text-red">Careers at Red Hat</h3>

                <h1>Open design needs many voices. Join us.</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-4">
                <div class="card border">
                    <div class="card-header">
                        Card header
                    </div>

                    <div class="card-body">
                        Card body
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card border">
                    <div class="card-header">
                        Card header
                    </div>

                    <div class="card-body">
                        Card body
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="card border">
                    <div class="card-header">
                        Card header
                    </div>

                    <div class="card-body">
                        Card body
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <a class="btn btn-primary" href="#" title="Search all jobs">Search all jobs</a>
            </div>
        </div>
    </div>
</section>