<section id="design-resources" class="dms-band mt-n2 mt-lg-n3 mt-xl-n6 pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pt-4 pt-md-8 border-top border-red"></div>
            </div>

            <div class="col-12 col-sm-8 col-md-9 col-lg-7 col-xl-6">
                <h3 class="section-label text-red">Design resources</h3>

                <h1>Open design means flexible systems, built for change.</h1>
            </div>
        </div>

        <div class="row">
            <pfe-content-set--panel class="col-12">
                <pfe-content-set class="mt-2 mb-1 mb-md-0" vertical>
                    <h2 pfe-content-set--header>Brand standards</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-8 mt-xl-n12 pr-0 float-right">
                        <img class="img-fluid mb-2" src="assets/img/img-brand-standards-584x384.png" alt="Brand standards image">

                        <h2>Red Hat Brand Standards</h2>

                        <p>Our brand is the source for our identity, governing all of our experiences. Standards are a vital baseline, changing and evolving for what's next.</p>

                        <p class="mb-0"><a class="btn btn-link" href="//www.redhat.com/en/about/brand/standards" title="Visit our brand standards">Visit our brand standards</a></p>
                    </pfe-content-set--panel>

                    <h2 pfe-content-set--header>Digital design system</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-8 mt-xl-n12 pr-0 float-right">
                        <img class="img-fluid mb-1" src="assets/img/img-digital-design-system-592x389.png" alt="Digital design system image">

                        <h2>Red Hat Digital Design System</h2>

                        <p>Our digital design system contains tools, guides, and examples for building unified, consistent experiences. It's the foundation of our digital UX.</p>

                        <p class="mb-0"><a class="btn btn-link" href="//ux.redhat.com" title="Visit our digital design system">Visit our digital design system</a></p>
                    </pfe-content-set--panel>

                    <h2 pfe-content-set--header>Product design system</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-8 mt-xl-n12 pr-0 float-right">
                        <img class="img-fluid mb-2" src="assets/img/img-product-design-system-588x376.png" alt="Product design system image">

                        <h2>PatternFly Product Design System</h2>

                        <p>Our open source product design system provides resources for building scalable enterprise applications, from documentation and components to code examples and tutorials.</p>

                        <p class="mb-0"><a class="btn btn-link" href="//www.patternfly.org/v4" title="Visit our product design system">Visit our product design system</a></p>
                    </pfe-content-set--panel>

                    <h2 pfe-content-set--header>Open Studio Community</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-8 mt-xl-n12 pr-0 float-right">
                        <img class="img-fluid mb-md-n1" src="assets/img/img-open-studio-community-606x419.png" alt="Open Studio Community image">

                        <h2>Open Studio Community</h2>

                        <p>A collaborative rooted in open source, our Open Studio Community is a group of all creatives inside (and some outside) of Red Hat—sharing, teaching, and creating together.</p>

                        <p class="mb-0"><a class="btn btn-link" href="//www.redhat.com/en/about/open-studio" title="Visit our community">Visit our community</a></p>
                    </pfe-content-set--panel>
                </pfe-content-set>
            </div>
        </div>
    </div>
</section>