<section id="design-jobs" class="dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pt-4 pt-md-8 border-top border-red"></div>
            </div>

            <div class="col-12 col-sm-8 col-lg-6 mx-md-auto text-md-center">
                <h3 class="section-label text-red">Design jobs</h3>

                <h1>Open design needs many voices. Join us.</h1>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 border">
                    <div class="card-header pb-0 text-center">
                        <img class="svg" src="assets/img/svg/thumb-brand-creative.svg" alt="Brand and creative thumbnail">
                    </div>

                    <div class="card-body">
                        <h2>Brand and creative</h2>

                        <p>We create Red Hat's visual identity so that people can easily recognize and connect with Red Hat's brand.</p>

                        <p class="mb-0">We are graphic designers, art directors, animators, and filmmakers.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0">
                <div class="card h-100 border">
                    <div class="card-header pb-0 text-center">
                        <img class="svg" src="assets/img/svg/thumb-digital-design.svg" alt="Digital design thumbnail">
                    </div>

                    <div class="card-body">
                        <h2>Digital design</h2>

                        <p>We create Red Hat's digital presence so that users have easy access to information, support, and services.</p>

                        <p class="mb-0">We are UX designers, researchers, producers, and front-end developers.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
                <div class="card h-100 border">
                    <div class="card-header pb-0 text-center">
                        <img class="svg" src="assets/img/svg/thumb-product-design.svg" alt="Product design thumbnail">
                    </div>

                    <div class="card-body">
                        <h2>Product design</h2>

                        <p>We create Red Hat's product interfaces so that users can intuitively navigate and understand our products.</p>

                        <p class="mb-0">We are researchers, interaction designers, visual designers, content designers, and front-end developers.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <a class="btn btn-primary" href="#" title="Search all jobs">Search all jobs</a>
            </div>
        </div>
    </div>
</section>