<section id="design-resources" class="dms-band pt-0" data-viewport>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pt-4 pt-md-8 border-top border-red"></div>
            </div>

            <div class="col-12 col-sm-8 col-md-9 col-lg-7 col-xl-6">
                <h3 class="section-label text-red">Design resources</h3>

                <h1>Open design means flexible systems, built for change.</h1>
            </div>
        </div>

        <div class="row">
            <pfe-content-set--panel class="col-12">
                <pfe-content-set class="mt-2 mb-1 mb-md-0" vertical>
                    <h2 pfe-content-set--header>Brand standards</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-9 pr-0 float-right">
                        <img class="img-fluid mb-2" src="assets/img/img-brand-standards-643x678.png" alt="Brand standards image">

                        <h2>Red Hat Brand Standards</h2>

                        <p>Our brand is the source for our identity, governing all of our experiences. Standards are a vital baseline, changing and evolving for what’s next.</p>

                        <p class="mb-0"><a class="btn btn-link" href="#" title="Visit our brand standards">Visit our brand standards</a></p>
                    </pfe-content-set--panel>

                    <h2 pfe-content-set--header>Digital design system</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-9 pr-0 float-right">
                        <img class="img-fluid mb-2" src="assets/img/img-digital-design-system-701x387.png" alt="Digital design system image">

                        <h2>Red Hat Digital Design System</h2>

                        <p>Tools, guides, and examples for building digital experiences that are flexible, accessible, consistent, and scalable. The foundation of digital UX.</p>

                        <p class="mb-0"><a class="btn btn-link" href="#" title="Learn more">Learn more</a></p>
                    </pfe-content-set--panel>

                    <h2 pfe-content-set--header>Product design system</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-9 pr-0 float-right">
                        <img class="img-fluid mb-2" src="assets/img/img-product-design-system-641x376.png" alt="Product design system image">

                        <h2>Patternfly</h2>

                        <p>An open source product design system, ensuring consistency and usability across countless applications. Clear, approachable standards and guidance for any designer.</p>

                        <p class="mb-0"><a class="btn btn-link" href="#" title="Learn more">Learn more</a></p>
                    </pfe-content-set--panel>

                    <h2 pfe-content-set--header>Open Studio Community</h2>

                    <pfe-content-set--panel class="col-12 col-md-11 col-xl-9 pr-0 float-right">
                        <img class="img-fluid mb-2" src="assets/img/img-open-studio-community-649x413.png" alt="Open Studio Community image">

                        <h2>Open Studio Community</h2>

                        <p>A collaborative rooted in open source. Not just designers, but all creatives inside Red Hat—and outside—sharing, teaching, and creating together.</p>

                        <p class="mb-0"><a class="btn btn-link" href="#" title="Learn more">Learn more</a></p>
                    </pfe-content-set--panel>
                </pfe-content-set>
            </div>
        </div>
    </div>
</section>