<section id="designers" class="dms-band pt-0">
    <div class="container">
        <div class="row">
        	<div class="col-xl-10 offset-xl-2 text-center">
                <h2 class="text-red xl">What makes designing at Red Hat unique?</h2>
            </div>
        </div>

        <div class="row pt-4">
        	<div class="col-xl-10 offset-xl-2 border">
        		<div class="row">
	                <div class="col-md-4 px-0">
	                 	<img class="img-fluid" src="assets/img/photo-allona-designer-stories.png" alt="Allona">
	             	</div>
	             	<div class="col-md-8">
	             		<div class="card mb-0 p-4">
	                    
	                    <div class="card-body border-left border-red pl-2">
	                    	<img class="svg quote mb-3" src="assets/img/svg/icon-quote.svg" alt="Quote icon">
		                    <p class="mb-3 font-size-24">I was encouraged to share my own ideas and approaches to design. This included everything from the strategy behind a project to the execution, and I remember that being intimidating starting out. But one of the aspects of becoming a designer that I hold closely is the experience of the studio space.</p>
		                    <p class="mb-0 font-size-16"><strong>Allona Wilkerson</strong></p>
	                        <p class="mb-0 font-size-16">Graphic Designer, Brand Design</p>
                    	</div>
	                     <p class="pt-2"><a class="btn-link btn" href="#">Read about Allona</a></p>
	                    
	                	</div>
	            	</div>
             	</div>
            </div>

            <div class="row pt-4">
        	<div class="col-xl-10 offset-xl-2 border">
        		<div class="row">
	                
	             	<div class="col-md-8">
	             		<div class="card mb-0 p-4">
	                    <img class="svg quote mb-3" src="assets/img/svg/icon-quote.svg" alt="Quote icon">

	                    <p class="mb-3 font-size-24 border-left border-red pl-2">Red Hat has so many products and avenues to share their product information so finding patterns and creating consistency throughout the platform is uniquely challenging.</p>
	                    <p class="mb-0 font-size-16"><strong>Ann Nguyen</strong></p>
                        <p class="mb-0 font-size-16">Associate Product Designer</p>
	                    <p class="pt-2"><a class="btn-link btn" href="#">Read about Ann</a></p>
	                    
	                	</div>
	            	</div>
	            	<div class="col-md-4 px-0">
	                 	<img class="img-fluid" src="assets/img/photo-ann-designer-stories.png" alt="Ann">
	             	</div>
             	</div>
            </div>
        </div>

    </div>
</section>