<section class="hero dms-band pt-4">

    <div class="container">
        <div class="row">
        	
            <div class="col-12 col-sm-9 col-md-10 col-lg-8 col-xl-7 offset-lg-1">
                <h3 class="section-label mb-1 mb-md-0 text-red">Design at Red Hat</h3>

                <h1 class="mb-3 mb-md-6">Open design creates better experiences</h1>

                <p class="mb-0 font-size-20 font-size-md-24">Red Hatters believe in transparency, collaboration, and inclusion. These principles aren’t just for creating technology — they shape how we design, too.</p>
            </div>
        </div>
    </div>
</section>