<section id="how-we-work" class="dms-band">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="section-label mb-3 text-red">How we work</h3>
            </div>
        </div>

        <div class="row d-flex flex-md-column flex-md-wrap align-content-start justify-content-start">
            <div class="col-12 col-md-6 col-lg-7 pb-3">
                <p class="mb-3 font-size-24">Open design is built on collaboration.</p>

                <p class="mb-3 font-size-24">It's a conversation between diverse voices. It's about listening to what our community needs, taking that feedback, and creating systems that work together, across teams and contexts.</p>

                <p class="mb-1 font-size-24">Open design creates accessible experiences for real people.</p>
            </div>

            <div class="col-12 col-md-6 col-lg-7 pb-3">
                <img class="img-fluid w-100" src="assets/img/img-same-soul-new-hat-677x404.png" alt="Same soul. New hat. image">
            </div>

            <div class="col-12 col-md-6 col-lg-7 pb-3">
                <img class="img-fluid w-100" src="assets/img/img-post-it-notes-678x404.png" alt="Post-it notes image">
            </div>

            <div class="col-12 col-md-6 col-lg-7 pb-3">
                <div class="card mb-0 p-4 bg-gray-200">
                    <img class="svg quote mb-3" src="assets/img/svg/icon-quote.svg" alt="Quote icon">

                    <p class="mb-3 font-size-24">By designing our enterprise products in the open, we give our customers and partners the opportunity to directly shape the product experiences they use.</p>

                    <div class="media align-items-center">
                        <img class="mr-3" src="assets/img/photo-paul-lightfoot-92x92.png" alt="Paul Lightfoot photo">

                        <div class="media-body">
                            <p class="mb-0 font-size-16"><strong>Paul Lightfoot</strong></p>

                            <p class="mb-0 font-size-16">Global Director, User Experience Design</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-7 pb-3">
                <img class="img-fluid w-100" src="assets/img/img-design-collaboration-678x416.png" alt="Design collaboration image">
            </div>

            <div class="col-12 col-md-6 col-lg-5 pb-3">
                <img class="img-fluid w-100" src="assets/img/img-erase-board-calendar-421x494.png" alt="Erase board calendar image">
            </div>

            <div class="col-12 col-md-6 col-lg-5 pb-3">
                <div class="card mb-0 p-4 bg-gray-200">
                    <img class="svg quote mb-3" src="assets/img/svg/icon-quote.svg" alt="Quote icon">

                    <p class="mb-3 font-size-24">Inclusivity, open exchange of ideas, and collaboration are the foundations of innovative design and are essential to creating a Red Hat branded experience.</p>

                    <div class="media align-items-center">
                        <img class="mr-3" src="assets/img/photo-jessica-cox-92x92.png" alt="Jessica Cox photo">

                        <div class="media-body">
                            <p class="mb-0 font-size-16"><strong>Jessica Cox</strong></p>

                            <p class="mb-0 font-size-16">Director, Design, Brand + Creative</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 pb-3">
                <img class="img-fluid w-100" src="assets/img/img-camera-man-418x524.png" alt="Camera man image">
            </div>

            <div class="col-12 col-md-6 col-lg-5 pb-3">
                <div class="card mb-0 p-4 bg-gray-200">
                    <img class="svg quote mb-3" src="assets/img/svg/icon-quote.svg" alt="Quote icon">

                    <p class="mb-3 font-size-24">Open design practices connect and align our many teams working together to build a unified experience for Red Hat.</p>

                    <div class="media align-items-center">
                        <img class="mr-3" src="assets/img/photo-rob-chappell-92x92.png" alt="Rob Chappell photo">

                        <div class="media-body">
                            <p class="mb-0 font-size-16"><strong>Rob Chappell</strong></p>

                            <p class="mb-0 font-size-16">Director, Digital User Experience</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>