<section class="dms-band">
    <div class="container">
        <div class="row">
            <div class="col-12">

















            </div>
        </div>
    </div>
</section>








<section id="how-we-work" class="dms-band" data-viewport>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-9 col-lg-7">
                <h3 class="section-label text-red">How we work</h3>

                <p class="font-size-24">Open design is built on collaboration.</p>

                <p class="font-size-24">It’s a conversation between diverse voices. It’s about listening to what our community needs, taking that feedback, and creating systems that work together, across teams and contexts.</p>

                <p class="mb-0 font-size-24">Open design creates accessible experiences for real people.</p>
            </div>
        </div>
    </div>
</section>