<div class="dms-band rh-design-nav-shelf py-0 border-right">
    <div class="nav-container pb-4">
        <div id="rhDesignNav" class="accordion">

            <div class="nav-group-wrapper pl-3 py-2">
                <a href="#">
                    <p class="mb-0">Design at Red Hat</p>
                </a>
            </div>

            <div class="nav-group-wrapper">
                <button href="#" class="accordion-toggle collapsed" data-toggle="collapse" data-target="#stories">
                    <p>Designer stories</p>
                </button>
                <div id="stories" class="accordion-panel collapse" data-parent="#rhDesignNav">
                    <ol class="mb-0 pl-2 pb-2">
                        <li class="mb-2">
                            <a href="#" title="All stories">All stories</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" title="Allona Wilkerson">Allona Wilkerson</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" title="Ann Nguyen">Ann Nguyen</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" title="Chae Bin Park">Chae Bin Park</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" title="Kevin Hatchoua">Kevin Hatchoua</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" title="Krystal Moore">Krystal Moore</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" title="Liz Wood">Liz Wood</a>
                        </li>
                        <li class="mb-2">
                            <a href="#" title="Michael Celedonia">Michael Celedonia</a>
                        </li>
                        <li>
                            <a href="#" title="Mohammad Fadzly Sayarasi">Mohammad Fadzly Sayarasi</a>
                        </li>

                    </ol>
                </div>
            </div>

            <div class="nav-group-wrapper pl-3 py-2">
                <a href="#" >
                    <p class="mb-0">Release notes</p>
                </a>

            </div>

        </div>


    </div>
</div>
