<!-- <section id="sticky-nav" class="jump-links bg-white d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <ul class="mb-0 d-flex list-unstyled border-top border-width-3 border-red">
                    <li class="mr-8 active">
                        <a class="scroll py-2 d-block text-gray-900" href="#how-we-work" title="How we work">How we work</a>
                    </li>

                    <li class="mr-8">
                        <a class="scroll py-2 d-block text-gray-900" href="#design-resources" title="Design resources">Design resources</a>
                    </li>

                    <li>
                        <a class="scroll py-2 d-block text-gray-900" href="#design-jobs" title="Design jobs">Design jobs</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section> -->

<section id="sticky-nav" class="bg-white d-none d-md-block">
    <div class="container">
        <nav class="nav d-inline-flex border-top border-width-3 border-red">
            <a class="nav-link scroll mr-8 px-0 d-block text-gray-900" href="#how-we-work" title="How we work">How we work</a>

            <a class="nav-link scroll mr-8 px-0 d-block text-gray-900" href="#design-resources" title="Design resources">Design resources</a>

            <a class="nav-link scroll px-0 d-block text-gray-900" href="#design-jobs" title="Design jobs">Design jobs</a>
        </nav>
    </div>
</section>