$font-size-px-base: 16px;
$section-padding-y: ($spacer * 4); // 40px; (x2 on "md" and higher breakpoints)
$section-padding-x: 0;
$rh-footer-gray: #aaa; // red hat footer brand standard, not in our set of grays

$paragraph-margin-top: 0px;
$headings-margin-top: 0px;