<section id="design-principles" class="dms-band pt-0">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 border-top border-red"></div>
            </div>
            <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 offset-xl-4 text-center">
                <h3 class="section-label text-red">Design principles</h3>
                <h1 class="interior-h1">Collaboration is built on shared principles</h1>

                <p>To keep us aligned and working towards a shared vision, we have <strong>design principles</strong>.
Our principles are the fundamentals that build a strong foundation for open design to thrive.</p>
            </div>
        </div>
        <div class="col-xl-10 offset-xl-2">
        <div class="row mt-3">
            <div class="col-12 col-lg-4">
                <div class="card border h-100">
                    <div class="card-header pb-0">
                       <h2 class="text-red">Start intentionally</h2>
                    </div>
                    <div class="card-body">
                        <p>Identify the problem well before you start to solve it. Know why you’re designing. If you don’t, ask questions to gain insights. Those answers will lead to better questions or new directions.</p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">    
                <div class="card border h-100">
                    <div class="card-header pb-0">
                        <h2 class="text-red">Lean on <br class="d-none d-lg-block">research</h2>
                    </div>
                    <div class="card-body">
                        <p>Know who you’re designing for and what they need; talk to them if you can. When you understand their motivations, you’re able to demonstrate real empathy for the user, and the most impactful choices become clear.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
                <div class="card border h-100">
                    <div class="card-header pb-0">
                        <h2 class="text-red">Design with bravery</h2>
                    </div>
                    <div class="card-body">
                        <p>Take risks, even when it’s scary or difficult. Suggest something unexpected, remove something unnecessary, or even know when to try again — facing the challenge results in the best work possible.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-xl-10 offset-xl-2 text-center">
                <pfe-cta priority="primary">
                    <a  href="/design-principles" title="Search all jobs">See more design principles</a>
                </pfe-cta>
            </div>
        </div>
    </div>
</section>