<section id="how-we-work" class="dms-band pt-0 pt-md-8">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-10 offset-xl-2">
                <div class="pt-4 pt-md-8 d-md-none border-top border-red"></div>

                <h3 class="section-label mb-3 text-red">How we work</h3>
            </div>
        </div>

        <div class="col-12 col-xl-10 offset-xl-2">
            <div class="row d-flex flex-md-column flex-md-wrap align-content-start justify-content-start">
                <div class="col-12 col-md-6 col-lg-7 pb-3 pl-0">
                    <div class="card">
                        <div class="card-body pt-0 pl-0 pb-0 pr-md-3">
                            <p class="mb-3 font-size-20 font-size-md-24">Open design is built on collaboration.</p>

                            <p class="mb-3 font-size-20 font-size-md-24">It's a conversation between diverse voices. It's about listening to what our community needs, taking that feedback, and creating systems that work together, across teams and contexts.</p>

                            <p class="mb-1 font-size-20 font-size-md-24">Open design creates helpful and accessible experiences for real people.</p>
                        </div>
                    </div>

                    <div class="pt-4 pt-md-8 border-bottom border-red"></div>
                </div>

                <div class="col-12 col-md-6 col-lg-7 pb-3 pt-lg-3">
                    <img class="img-fluid w-100" src="/assets/img/pages/home/img-design-collaboration-678x416.png" alt="Design collaboration image">
                </div>

                <div class="col-12 col-md-6 col-lg-7 pb-3">
                    <h3 class="text-red font-size-36 font-weight-light">How do you think diverse voices and perspectives make the design process stronger?</h3>

                    <div class="card mb-0 p-4 border-left border-red rounded-0">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                        <p class="mb-3 font-size-24">Your willingness to collaborate in your design process, should be equally matched by your inviting of diverse voices and perspectives to this same process. This inherently invites different voices and perspectives to not only collaborate but critique your work.</p>
                    </div>

                    <div class="media align-items-center pt-4">
                            <img class="mr-3" src="/assets/img/pages/home/photo-allona-wilkerson-92x92.png" alt="Allona Wilkerson photo">

                            <div class="media-body">
                                <p class="mb-0 font-size-16"><strong>Allona Wilkerson</strong></p>

                                <p class="mb-0 font-size-16">Graphic Designer, Brand Design</p>
                            </div>
                        </div>
                        <p class="pt-2"><a class="btn-link btn" href="designer-stories/allona-wilkerson.html">Read about Allona</a></p>
                </div>

                <div class="col-12 col-md-6 col-lg-7 pb-3">
                    <img class="img-fluid w-100" src="/assets/img/pages/home/img-same-soul-new-hat-677x404.png" alt="Same soul. New hat. image">
                </div>

                <div class="col-12 col-md-6 col-lg-7 pb-3">
                    <div class="card mb-0 p-4 bg-gray-200">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                        <p class="mb-3 font-size-24">By designing our enterprise products in the open, we give our customers and partners the opportunity to directly shape the product experiences they use.</p>

                        <div class="media align-items-center">
                            <img class="mr-3" src="/assets/img/pages/home/photo-paul-lightfoot-92x92.png" alt="Paul Lightfoot photo">

                            <div class="media-body">
                                <p class="mb-0 font-size-16"><strong>Paul Lightfoot</strong></p>

                                <p class="mb-0 font-size-16">Global Director, User Experience Design</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 pb-3">
                    <img class="img-fluid w-100" src="/assets/img/pages/home/img-erase-board-calendar-457x416.png" alt="Erase board calendar image">
                </div>

                <div class="col-12 col-md-6 col-lg-5 pb-3">
                    <div class="card mb-0 p-4 bg-gray-200">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                        <p class="mb-3 font-size-24">Inclusivity, open exchange of ideas, and collaboration are the foundations of innovative design and are essential to creating a Red Hat branded experience.</p>

                        <div class="media align-items-center">
                            <img class="mr-3" src="/assets/img/pages/home/photo-jessica-cox-92x92.png" alt="Jessica Cox photo">

                            <div class="media-body">
                                <p class="mb-0 font-size-16"><strong>Jessica Cox</strong></p>

                                <p class="mb-0 font-size-16">Director, Design, Brand + Creative</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 pb-3">
                    <img class="img-fluid w-100" src="/assets/img/pages/home/img-camera-man-457x470.png" alt="Camera man image">
                </div>

                <div class="col-12 col-md-6 col-lg-5 pb-3">
                    <div class="card mb-0 p-4 bg-gray-200">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                        <p class="mb-3 font-size-24">Open design practices connect and align our many teams working together to build a unified experience for Red Hat.</p>

                        <div class="media align-items-center">
                            <img class="mr-3" src="/assets/img/pages/home/photo-rob-chappell-92x92.png" alt="Rob Chappell photo">

                            <div class="media-body">
                                <p class="mb-0 font-size-16"><strong>Rob Chappell</strong></p>

                                <p class="mb-0 font-size-16">Director, Digital User Experience</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-5 pb-3">
                    <h3 class="text-red font-size-36 font-weight-light">What makes designing at Red Hat unique?</h3>

                    <div class="card mb-0 p-4 border-left border-red rounded-0">
                        <img class="svg quote mb-3" src="/assets/img/svg/icon-quote.svg" alt="Quote icon">

                        <p class="mb-3 font-size-24">Finding patterns and creating consistency throughout the platform is uniquely challenging.</p>
                    </div>

                    <div class="media align-items-center pt-4">
                        <img class="mr-3" src="/assets/img/pages/home/photo-ann-nguyen-92x92.png" alt="Ann Nguyen photo">

                        <div class="media-body">
                            <p class="mb-0 font-size-16"><strong>Ann Nguyen</strong></p>

                            <p class="mb-0 font-size-16">Associate Product Designer</p>
                        </div>
                    </div>

                    <p class="pt-2"><a class="btn-link btn" href="designer-stories/ann-nguyen.html">Read about Ann</a></p>
                </div>
            </div>
            <div class="text-center pb-8  mt-xl-n10">
                <pfe-cta priority="secondary">
                    <a href="//www.redhat.com">Read more designer stories</a>
                </pfe-cta>
            </div>
        </div>
    </div>
</section>