<section id="rh-sticky-nav" class="bg-white d-none d-md-block">
    <div class="container">
    	<div class="row">
        	<div class="col-xl-10 offset-xl-2">
		        <nav class="nav d-inline-flex border-top border-width-3 border-red">
		            <a class="nav-link scroll mr-8 px-0 d-block text-gray-900 active" href="#how-we-work" title="How we work" data-scroll-top="70">How we work</a>

		            <a class="nav-link scroll mr-8 px-0 d-block text-gray-900" href="#design-principles" title="Design principles" data-scroll-top="70">Design principles</a>

		            <a class="nav-link scroll mr-8 px-0 d-block text-gray-900" href="#design-resources" title="Design resources" data-scroll-top="70">Design resources</a>

		            <a class="nav-link scroll px-0 d-block text-gray-900" href="#design-jobs" title="Design jobs" data-scroll-top="70">Design jobs</a>
		        </nav>
		    </div>
		</div>
    </div>
</section>

